n8n-workflow-modelo-ia-v2.json
{
  "name": "Vizzu - Modelo IA v2 (com Look Composer)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/modelo-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-modelo-ia",
      "name": "Webhook Modelo IA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-848, 1504],
      "webhookId": "9dabc075-b233-4322-8094-a4f5210dc4f3"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nconst startTime = Date.now();\n\n// Extrair dados do payload\nconst lookItems = body.look_items || body.lookItems || [];\nconst isComposerMode = lookItems.length > 0;\nconst creditsRequired = isComposerMode ? 2 : 1;\n\n// Extrair URLs das peças do look\nconst lookImageUrls = lookItems.map(item => ({\n  slot: item.slot,\n  name: item.name,\n  url: item.image,\n  productId: item.productId || item.product_id,\n  imageId: item.imageId || item.image_id\n})).filter(item => item.url && !item.url.startsWith('data:'));\n\nreturn {\n  productId: body.productId || body.product_id,\n  userId: body.userId || body.user_id,\n  imageId: body.imageId || body.image_id,\n  imageUrl: body.imageUrl || body.image_url,\n  isComposerMode: isComposerMode,\n  creditsRequired: creditsRequired,\n  lookItems: lookItems,\n  lookImageUrls: lookImageUrls,\n  modelPrompt: body.model_prompt || body.modelPrompt || '',\n  clothingPrompt: body.clothing_prompt || body.clothingPrompt || '',\n  posePrompt: body.pose_prompt || body.posePrompt || '',\n  referenceImage: body.reference_image || body.referenceImage || '',\n  productCategory: body.product_category || body.productCategory || 'clothing',\n  productDescription: body.product_description || body.productDescription || '',\n  orientation: body.orientation || 'vertical',\n  startTime: startTime\n};"
      },
      "id": "prep-modelo-ia",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-608, 1504]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $json.userId }}"
      },
      "id": "get-user-modelo-ia",
      "name": "Buscar Usuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-368, 1504],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-credits-modelo",
              "leftValue": "={{ $json.credits }}",
              "rightValue": "={{ $('Preparar Dados').item.json.creditsRequired }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-credits-modelo-ia",
      "name": "Tem Creditos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-128, 1504]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'insufficient_credits', message: 'Créditos insuficientes' }) }}",
        "options": {
          "responseCode": 402
        }
      },
      "id": "no-credits-modelo-ia",
      "name": "Erro - Sem Creditos",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [112, 1700]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_images",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.imageId }}"
      },
      "id": "get-image-modelo-ia",
      "name": "Buscar Imagem Principal",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [112, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Verificar se encontrou a imagem pelo ID ou se tem URL direta\nconst imageFromDb = $input.first().json;\nconst prepData = $('Preparar Dados').item.json;\n\nconst imageUrl = imageFromDb?.url || prepData.imageUrl;\n\nif (!imageUrl) {\n  throw new Error('Imagem não encontrada');\n}\n\nreturn {\n  imageUrl: imageUrl,\n  imageId: imageFromDb?.id || prepData.imageId,\n  hasImage: true\n};"
      },
      "id": "validate-image",
      "name": "Validar Imagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 1376]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.productId }}"
      },
      "id": "get-product-modelo-ia",
      "name": "Buscar Produto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [432, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-prod",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-product-modelo-ia",
      "name": "Produto Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [592, 1376]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'product_not_found', message: 'Produto não encontrado' }) }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "error-prod-not-found",
      "name": "Erro - Produto Nao Encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [752, 1552]
    },
    {
      "parameters": {
        "tableId": "generations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.userId }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.productId }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "modelo_ia"
            },
            {
              "fieldId": "input_image_url",
              "fieldValue": "={{ $('Validar Imagem').item.json.imageUrl }}"
            },
            {
              "fieldId": "credits_used",
              "fieldValue": "={{ $('Preparar Dados').item.json.creditsRequired }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "create-gen-modelo-ia",
      "name": "Criar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [752, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Validar Imagem').item.json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-img-principal",
      "name": "Download Imagem Principal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 1376]
    },
    {
      "parameters": {
        "jsCode": "// Baixar imagens das peças do look (se houver)\nconst prepData = $('Preparar Dados').item.json;\nconst lookImageUrls = prepData.lookImageUrls || [];\nconst principalBinary = $input.first().binary;\n\n// Armazenar imagem principal\nconst images = {\n  principal: principalBinary\n};\n\n// Baixar cada imagem do look\nfor (let i = 0; i < lookImageUrls.length && i < 6; i++) {\n  const item = lookImageUrls[i];\n  if (item.url && item.url.startsWith('http')) {\n    try {\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: item.url,\n        encoding: 'arraybuffer',\n        returnFullResponse: true\n      });\n      \n      const binaryData = await this.helpers.prepareBinaryData(\n        Buffer.from(response.body),\n        `look_${item.slot}.png`,\n        response.headers['content-type'] || 'image/png'\n      );\n      \n      images[`look_${item.slot}`] = { data: binaryData };\n    } catch (e) {\n      console.log(`Erro ao baixar imagem do slot ${item.slot}:`, e.message);\n    }\n  }\n}\n\n// Montar lista de slots com imagens\nconst slotsWithImages = Object.keys(images).filter(k => k !== 'principal');\n\nreturn [{\n  json: {\n    ...prepData,\n    slotsWithImages: slotsWithImages,\n    totalLookImages: slotsWithImages.length\n  },\n  binary: {\n    ...principalBinary,\n    ...Object.fromEntries(\n      slotsWithImages.map(slot => [slot, images[slot].data])\n    )\n  }\n}];"
      },
      "id": "download-look-images",
      "name": "Download Imagens Look",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1072, 1376]
    },
    {
      "parameters": {
        "jsCode": "const product = $('Buscar Produto').item.json;\nconst prepData = $('Preparar Dados').item.json;\nconst downloadData = $input.first().json;\nconst orientation = prepData.orientation || 'vertical';\n\n// Informações do modelo\nconst modelPrompt = prepData.modelPrompt || 'Professional fashion model';\n\n// Montar descrição das peças do look\nlet lookDescription = '';\nconst lookItems = prepData.lookItems || [];\n\nif (lookItems.length > 0) {\n  const pieces = lookItems.map((item, idx) => \n    `- ${item.slot.toUpperCase()}: \"${item.name}\" (see reference image #${idx + 2})`\n  ).join('\\n');\n  \n  lookDescription = `\n\n=== COMPLETE LOOK COMPOSITION ===\nThis is a COMPOSER mode generation. The model must wear ALL these pieces:\n${pieces}\n\nIMPORTANT: Each piece has its own reference image. Use them to accurately reproduce each garment.\nThe MAIN PRODUCT (image #1) is the hero piece and should be prominently featured.\nAll other pieces should complement the look naturally.`;\n}\n\n// Formato baseado na orientação\nconst formatInstruction = orientation === 'horizontal' \n  ? 'Horizontal 16:9 format, landscape composition'\n  : 'Vertical 9:16 format, portrait composition for Instagram/Stories';\n\nconst prompt = `Professional high-fashion editorial photography for e-commerce.\n\n=== MODEL ===\n${modelPrompt}\n\n=== MAIN PRODUCT (Reference Image #1) ===\nCategory: ${product.category || 'clothing'}\nName: ${product.name}\nDescription: ${prepData.productDescription || 'Fashion garment'}\n\nThe model MUST wear this EXACT garment. Preserve:\n- Exact colors (no shifts)\n- Exact patterns/prints\n- Exact texture and fabric\n- All details (buttons, zippers, logos)${lookDescription}\n\n=== COMPOSITION ===\n- ${formatInstruction}\n- Full body shot, head to toe\n- Model centered, professional pose\n- Clean studio background (soft gray/white gradient)\n- Product is the HERO of the image\n\n=== LIGHTING ===\n- Professional fashion studio lighting\n- Soft, even, flattering\n- No harsh shadows\n\n=== QUALITY ===\n- 8K photorealistic\n- Magazine-cover worthy\n- Sharp focus on model and garments\n\n=== PROHIBITIONS ===\n- Do NOT change garment colors\n- Do NOT cover garments with hands/hair\n- Do NOT create cartoon/illustration style`;\n\nconst negativePrompt = \"cartoon, anime, illustration, wrong colors, blurry, low quality, distorted, deformed, covered product, mannequin\";\n\nreturn [{\n  json: {\n    prompt: prompt,\n    negativePrompt: negativePrompt,\n    isComposerMode: prepData.isComposerMode,\n    totalLookImages: downloadData.totalLookImages || 0\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "build-prompt-modelo-ia",
      "name": "Construir Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 1376]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp-image-generation",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp-image-generation"
        },
        "prompt": "={{ $json.prompt }}",
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "id": "gemini-modelo-ia",
      "name": "Gemini Generate",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [1392, 1376],
      "credentials": {
        "googlePalmApi": {
          "id": "sqwOB0vrunm2MJ3i",
          "name": "Vizzu Gemini"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-gemini",
              "leftValue": "={{ $binary.edited }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-gemini-modelo-ia",
      "name": "Gemini Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1552, 1376]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Criar Geracao').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "update-gen-failed",
      "name": "Marcar Falhou",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1712, 1552],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'generation_failed', message: 'Falha ao gerar imagem' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-gemini-failed",
      "name": "Erro - Geracao Falhou",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1872, 1552]
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst imageId = generateUUID();\nconst prepData = $('Preparar Dados').item.json;\nconst generationId = $('Criar Geracao').item.json.id;\nconst mode = prepData.isComposerMode ? 'composer' : 'single';\n\nconst storagePath = `${prepData.userId}/${prepData.productId}/modelo_ia_${mode}_${imageId}.png`;\nconst publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/products/${storagePath}`;\n\nreturn [{\n  json: {\n    newImageId: imageId,\n    generationId: generationId,\n    storagePath: storagePath,\n    publicUrl: publicUrl,\n    mode: mode\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "gen-path-modelo-ia",
      "name": "Gerar Storage Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1712, 1376]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "products",
        "fileName": "={{ $json.storagePath }}",
        "binaryPropertyName": "edited",
        "additionalFields": {}
      },
      "id": "upload-modelo-ia",
      "name": "Upload Storage",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [1872, 1376],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "product_images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.productId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.userId }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "modelo_ia"
            },
            {
              "fieldId": "storage_path",
              "fieldValue": "={{ $('Gerar Storage Path').item.json.storagePath }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Gerar Storage Path').item.json.publicUrl }}"
            },
            {
              "fieldId": "generation_id",
              "fieldValue": "={{ $('Gerar Storage Path').item.json.generationId }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "modelo_ia.png"
            },
            {
              "fieldId": "mime_type",
              "fieldValue": "image/png"
            },
            {
              "fieldId": "is_primary",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "insert-img-modelo-ia",
      "name": "Inserir Imagem",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2032, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Gerar Storage Path').item.json.generationId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "output_image_url",
              "fieldValue": "={{ $('Gerar Storage Path').item.json.publicUrl }}"
            },
            {
              "fieldId": "output_storage_path",
              "fieldValue": "={{ $('Gerar Storage Path').item.json.storagePath }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "processing_time_ms",
              "fieldValue": "={{ Date.now() - $('Preparar Dados').item.json.startTime }}"
            }
          ]
        }
      },
      "id": "update-gen-modelo-ia",
      "name": "Atualizar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2192, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar Dados').item.json.userId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "credits",
              "fieldValue": "={{ $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsRequired }}"
            },
            {
              "fieldId": "credits_used_this_month",
              "fieldValue": "={{ ($('Buscar Usuario').item.json.credits_used_this_month || 0) + $('Preparar Dados').item.json.creditsRequired }}"
            }
          ]
        }
      },
      "id": "debit-modelo-ia",
      "name": "Debitar Creditos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2352, 1376],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  generation: {\n    id: $('Gerar Storage Path').item.json.generationId,\n    image_url: $('Gerar Storage Path').item.json.publicUrl,\n    type: 'modelo_ia',\n    mode: $('Gerar Storage Path').item.json.mode\n  },\n  credits_remaining: $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsRequired\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-modelo-ia",
      "name": "Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2512, 1376]
    }
  ],
  "connections": {
    "Webhook Modelo IA": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario": {
      "main": [
        [
          {
            "node": "Tem Creditos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Creditos?": {
      "main": [
        [
          {
            "node": "Buscar Imagem Principal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro - Sem Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imagem Principal": {
      "main": [
        [
          {
            "node": "Validar Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Imagem": {
      "main": [
        [
          {
            "node": "Buscar Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produto": {
      "main": [
        [
          {
            "node": "Produto Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produto Encontrado?": {
      "main": [
        [
          {
            "node": "Criar Geracao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro - Produto Nao Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Geracao": {
      "main": [
        [
          {
            "node": "Download Imagem Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagem Principal": {
      "main": [
        [
          {
            "node": "Download Imagens Look",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagens Look": {
      "main": [
        [
          {
            "node": "Construir Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Prompt": {
      "main": [
        [
          {
            "node": "Gemini Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate": {
      "main": [
        [
          {
            "node": "Gemini Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Sucesso?": {
      "main": [
        [
          {
            "node": "Gerar Storage Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Falhou": {
      "main": [
        [
          {
            "node": "Erro - Geracao Falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Storage Path": {
      "main": [
        [
          {
            "node": "Upload Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Storage": {
      "main": [
        [
          {
            "node": "Inserir Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Imagem": {
      "main": [
        [
          {
            "node": "Atualizar Geracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Geracao": {
      "main": [
        [
          {
            "node": "Debitar Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debitar Creditos": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f5408b2397ec961558c2d1645ab20174aeb712fe37b2f614021d4bd5b8702549"
  }
}
