n8n-product-studio-v2.json
{
  "name": "Vizzu Product Studio v2 - Multi-Angle",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/product-studio-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "vizzu-product-studio-v2"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// PREPARAR DADOS - Product Studio v2\n// ========================================\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst startTime = Date.now();\n\n// Validar angles\nconst angles = body.angles || ['front'];\nif (!Array.isArray(angles) || angles.length === 0) {\n  throw new Error('Nenhum ângulo selecionado');\n}\n\n// Calcular créditos: 2 fotos = 1 crédito, cada adicional +1\nconst calculateCredits = (numAngles) => {\n  if (numAngles === 0) return 0;\n  if (numAngles <= 2) return 1;\n  return 1 + (numAngles - 2);\n};\n\nconst creditsNeeded = calculateCredits(angles.length);\n\nreturn {\n  productId: body.product_id,\n  userId: body.user_id,\n  imageId: body.image_id,\n  angles: angles,\n  anglesCount: angles.length,\n  creditsNeeded: creditsNeeded,\n  startTime: startTime\n};"
      },
      "id": "prep-001",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $json.userId }}"
      },
      "id": "get-user-001",
      "name": "Buscar Usuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 0],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-credits",
              "leftValue": "={{ $json.credits }}",
              "rightValue": "={{ $('Preparar Dados').item.json.creditsNeeded }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-credits-001",
      "name": "Tem Creditos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'insufficient_credits', message: 'Você não tem créditos suficientes. Necessário: ' + $('Preparar Dados').item.json.creditsNeeded + ', Disponível: ' + $('Buscar Usuario').item.json.credits }) }}",
        "options": {
          "responseCode": 402
        }
      },
      "id": "no-credits-001",
      "name": "Erro - Sem Creditos",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 120]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_images",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.imageId }}"
      },
      "id": "get-image-001",
      "name": "Buscar Imagem",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.productId }}"
      },
      "id": "get-product-001",
      "name": "Buscar Produto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "generations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.userId }}"
            },
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.productId }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "product_studio"
            },
            {
              "fieldId": "input_image_url",
              "fieldValue": "={{ $('Buscar Imagem').item.json.url }}"
            },
            {
              "fieldId": "credits_used",
              "fieldValue": "={{ $('Preparar Dados').item.json.creditsNeeded }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "started_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "angles_requested",
              "fieldValue": "={{ JSON.stringify($('Preparar Dados').item.json.angles) }}"
            }
          ]
        }
      },
      "id": "create-gen-001",
      "name": "Criar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Buscar Imagem').item.json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-img-001",
      "name": "Download Imagem Original",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -120]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// ETAPA 1: REMOVER FUNDO\n// Gemini - Background Removal\n// ========================================\n\nconst inputData = $input.first().json;\nconst binary = $input.first().binary;\n\nconst apiKey = $env.GEMINI_API_KEY;\nconst model = 'gemini-3-pro-image-preview';\nconst endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${apiKey}`;\n\nconsole.log('=== ETAPA 1: REMOVER FUNDO ===');\n\n// Preparar a imagem em base64\nlet imageBase64 = null;\nlet imageMimeType = 'image/png';\n\nif (binary && binary.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  imageBase64 = buffer.toString('base64');\n  imageMimeType = binary.data.mimeType || 'image/png';\n  console.log('Imagem carregada, mime:', imageMimeType);\n}\n\nif (!imageBase64) {\n  throw new Error('Nenhuma imagem encontrada no input');\n}\n\n// Prompt para remover fundo\nconst prompt = `Remove the background from this product image completely.\n\nRULES:\n- Keep ONLY the product itself\n- Make the background pure white (#FFFFFF)\n- Preserve all product details, colors, textures\n- Clean edges, no artifacts\n- Professional e-commerce quality\n- Do NOT modify the product in any way\n- Do NOT add shadows or effects\n\nOutput: Product on pure white background, ready for further processing.`;\n\nconst payload = {\n  contents: [\n    {\n      role: \"user\",\n      parts: [\n        {\n          inline_data: {\n            mime_type: imageMimeType,\n            data: imageBase64\n          }\n        },\n        { text: prompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseModalities: [\"TEXT\", \"IMAGE\"],\n    temperature: 0.5\n  },\n  safetySettings: [\n    { category: \"HARM_CATEGORY_HARASSMENT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_HATE_SPEECH\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_DANGEROUS_CONTENT\", threshold: \"BLOCK_NONE\" }\n  ]\n};\n\nconsole.log('Enviando para Gemini (remove background)...');\n\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: endpoint,\n    headers: { 'Content-Type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 180000\n  });\n} catch (error) {\n  console.log('Erro na chamada:', error.message);\n  throw new Error('Erro Gemini (remove bg): ' + error.message);\n}\n\n// Extrair imagem gerada\nlet cleanImageBase64 = null;\n\nif (response.candidates && response.candidates[0] && response.candidates[0].content) {\n  const responseParts = response.candidates[0].content.parts;\n  for (const part of responseParts) {\n    if (part.inlineData && part.inlineData.data) {\n      cleanImageBase64 = part.inlineData.data;\n      console.log('Imagem limpa gerada com sucesso!');\n    }\n  }\n}\n\nif (!cleanImageBase64) {\n  throw new Error('Gemini não retornou imagem limpa');\n}\n\nconsole.log('=== FUNDO REMOVIDO COM SUCESSO ===');\n\nreturn [{\n  json: {\n    ...inputData,\n    step: 'background_removed'\n  },\n  binary: {\n    cleanImage: {\n      data: cleanImageBase64,\n      mimeType: 'image/png',\n      fileName: 'clean_product.png'\n    }\n  }\n}];"
      },
      "id": "remove-bg-001",
      "name": "Remover Fundo (Gemini)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -120]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// GERAR UUID E PATH PARA IMAGEM LIMPA\n// ========================================\n\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst cleanImageId = generateUUID();\nconst userId = $('Preparar Dados').item.json.userId;\nconst productId = $('Preparar Dados').item.json.productId;\nconst generationId = $('Criar Geracao').item.json.id;\n\nconst storagePath = `${userId}/${productId}/clean_base_${cleanImageId}.png`;\nconst publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/products/${storagePath}`;\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    cleanImageId: cleanImageId,\n    cleanStoragePath: storagePath,\n    cleanPublicUrl: publicUrl,\n    generationId: generationId\n  },\n  binary: $input.first().binary\n}];"
      },
      "id": "gen-clean-path-001",
      "name": "Gerar Path Imagem Limpa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -120]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "products",
        "fileName": "={{ $json.cleanStoragePath }}",
        "binaryPropertyName": "cleanImage",
        "additionalFields": {}
      },
      "id": "upload-clean-001",
      "name": "Upload Imagem Limpa",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [2200, -120],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// PREPARAR LOOP DE ÂNGULOS\n// Cria um item para cada ângulo solicitado\n// ========================================\n\nconst inputData = $input.first().json;\nconst binary = $input.first().binary;\nconst angles = $('Preparar Dados').item.json.angles;\nconst product = $('Buscar Produto').item.json;\n\nconsole.log('=== PREPARANDO LOOP DE ÂNGULOS ===');\nconsole.log('Ângulos solicitados:', angles);\n\n// Criar um item para cada ângulo\nconst items = angles.map((angle, index) => {\n  return {\n    json: {\n      ...inputData,\n      currentAngle: angle,\n      angleIndex: index,\n      totalAngles: angles.length,\n      product: product\n    },\n    binary: binary\n  };\n});\n\nreturn items;"
      },
      "id": "prep-angles-001",
      "name": "Preparar Loop Angulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -120]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// CONSTRUIR PROMPT POR ÂNGULO\n// Prompt específico para cada perspectiva\n// ========================================\n\nconst inputData = $input.first().json;\nconst binary = $input.first().binary;\nconst angle = inputData.currentAngle;\nconst product = inputData.product;\n\nconst category = (product.category || 'produto').toLowerCase();\nconst color = product.color || '';\nconst fit = (product.fit || product.attributes?.caimento || '').toLowerCase();\n\nconsole.log('=== CONSTRUINDO PROMPT ===');\nconsole.log('Ângulo:', angle);\nconsole.log('Categoria:', category);\n\n// Detectar tipo de produto\nconst isClothing = ['camiseta', 'camisa', 'blusa', 'calça', 'shorts', 'vestido', 'saia', 'jaqueta', 'casaco', 'moletom', 'regata', 'bermuda', 'top', 'body', 'cropped'].some(item => category.includes(item));\nconst isFootwear = ['tenis', 'tênis', 'sapato', 'bota', 'sandalia', 'sandália', 'chinelo', 'calçado'].some(item => category.includes(item));\nconst isAccessory = ['bolsa', 'mochila', 'carteira', 'cinto', 'relogio', 'relógio', 'oculos', 'óculos', 'bijuteria', 'joia', 'colar', 'brinco', 'pulseira', 'bone', 'boné', 'chapéu'].some(item => category.includes(item));\n\n// ============================================================\n// PROMPTS POR ÂNGULO\n// ============================================================\n\nconst anglePrompts = {\n  // FRENTE\n  front: {\n    clothing: `Professional e-commerce photo of this ${category} - FRONT VIEW.\n\nVIEW: Straight front facing, centered, symmetrical.\nPRESENTATION: Ghost mannequin style - as if worn by an invisible person.\n- Shoulders filled out with natural shape\n- Neckline/collar clearly visible\n- Full front of garment showing\n- Natural drape and volume\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat, no gradients.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, all details, stitching, buttons, prints.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - FRONT VIEW.\n\nVIEW: Front facing, showing toe box and front design.\nANGLE: Slightly elevated (15-20 degrees from ground level).\nPRESENTATION: Single shoe or pair, clean positioning.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, materials, textures, brand details.`,\n\n    accessory: `Professional e-commerce photo of this ${category} - FRONT VIEW.\n\nVIEW: Straight front facing, centered.\nPRESENTATION: Product displayed at optimal angle to show front design.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, materials, details, brand elements.`\n  },\n\n  // COSTAS\n  back: {\n    clothing: `Professional e-commerce photo of this ${category} - BACK VIEW.\n\nVIEW: Straight back facing, centered, symmetrical.\nPRESENTATION: Ghost mannequin style - as if worn by an invisible person.\n- Back of shoulders visible\n- Full back of garment showing\n- Back neckline/collar visible\n- Any back details (prints, pockets, tags) clearly shown\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat, no gradients.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, all details, stitching, back prints.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - BACK/HEEL VIEW.\n\nVIEW: Back facing, showing heel and back design.\nANGLE: Slightly elevated, heel prominently displayed.\nPRESENTATION: Clean positioning showing heel counter, pull tab if any.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, heel design, brand logos on heel.`,\n\n    accessory: `Professional e-commerce photo of this ${category} - BACK VIEW.\n\nVIEW: Back facing, showing reverse side.\nPRESENTATION: Product displayed to show back design/construction.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, materials, back details.`\n  },\n\n  // DETALHE\n  detail: {\n    clothing: `Professional e-commerce DETAIL/CLOSE-UP photo of this ${category}.\n\nVIEW: Close-up shot focusing on key details.\nFOCUS ON:\n- Fabric texture and quality\n- Stitching details\n- Labels/tags\n- Special features (buttons, zippers, embroidery)\n- Material quality\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, detailed lighting to show texture.\nSTYLE: Macro-style product photography.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - BOTTOM/SOLE VIEW.\n\nVIEW: Bottom of shoe showing sole design.\nPRESENTATION: Full sole visible, tread pattern clear.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Even lighting to show sole details.\nPRESERVE: Sole pattern, brand markings, material details.`,\n\n    accessory: `Professional e-commerce DETAIL/CLOSE-UP photo of this ${category}.\n\nVIEW: Close-up shot focusing on craftsmanship.\nFOCUS ON: Material quality, hardware, stitching, brand details.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Detailed lighting to show quality.\nSTYLE: Macro-style product photography.`\n  },\n\n  // LATERAL ESQUERDA\n  'side-left': {\n    clothing: `Professional e-commerce photo of this ${category} - LEFT SIDE VIEW.\n\nVIEW: Left side profile, 90 degrees from front.\nPRESENTATION: Ghost mannequin style showing side silhouette.\n- Side seams visible\n- Sleeve profile (if applicable)\n- Side fit/drape\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, side details, fit profile.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - LEFT SIDE VIEW.\n\nVIEW: Left side profile, lateral view.\nPRESENTATION: Full side silhouette, showing design lines.\n- Sole profile visible\n- Side panels and design\n- Brand logos on side\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, side design, proportions.`,\n\n    accessory: `Professional e-commerce photo of this ${category} - LEFT SIDE VIEW.\n\nVIEW: Left side profile.\nPRESENTATION: Side view showing depth and profile.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even lighting.\nPRESERVE: Side details, depth, proportions.`\n  },\n\n  // LATERAL DIREITA\n  'side-right': {\n    clothing: `Professional e-commerce photo of this ${category} - RIGHT SIDE VIEW.\n\nVIEW: Right side profile, 90 degrees from front.\nPRESENTATION: Ghost mannequin style showing side silhouette.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, side details, fit profile.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - RIGHT SIDE VIEW.\n\nVIEW: Right side profile, medial view.\nPRESENTATION: Full side silhouette from inside angle.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even, professional studio lighting.\nPRESERVE: Exact colors, medial design, proportions.`,\n\n    accessory: `Professional e-commerce photo of this ${category} - RIGHT SIDE VIEW.\n\nVIEW: Right side profile.\nPRESENTATION: Side view showing depth and profile.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even lighting.\nPRESERVE: Side details, depth, proportions.`\n  },\n\n  // CIMA (principalmente para calçados)\n  top: {\n    clothing: `Professional e-commerce photo of this ${category} - TOP VIEW.\n\nVIEW: Bird's eye view, looking down at the garment.\nPRESENTATION: Flat lay or slight volume showing top perspective.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even overhead lighting.\nPRESERVE: Exact colors, top details, overall shape.`,\n\n    footwear: `Professional e-commerce photo of this ${category} - TOP VIEW.\n\nVIEW: Bird's eye view, looking down into the shoe.\nPRESENTATION: Shows lacing system, tongue, insole area.\n- Laces/closure system visible\n- Tongue and collar\n- Top of toe box\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even overhead lighting.\nPRESERVE: Exact colors, lacing, tongue design.`,\n\n    accessory: `Professional e-commerce photo of this ${category} - TOP VIEW.\n\nVIEW: Bird's eye view, looking down.\nPRESENTATION: Top perspective showing opening/interior if applicable.\n\nBACKGROUND: Solid light gray (#EDEDED), completely flat.\nLIGHTING: Soft, even overhead lighting.\nPRESERVE: Top details, opening, interior glimpse.`\n  }\n};\n\n// Selecionar prompt baseado no tipo e ângulo\nlet productType = 'clothing';\nif (isFootwear) productType = 'footwear';\nif (isAccessory) productType = 'accessory';\n\nconst prompt = anglePrompts[angle]?.[productType] || anglePrompts['front'][productType];\n\n// Adicionar informações do produto ao prompt\nconst fullPrompt = `${prompt}\n\nPRODUCT INFO:\n- Category: ${category}\n- Color: ${color || 'as shown'}\n- Fit: ${fit || 'standard'}\n\nCRITICAL:\n- Generate the ${angle.toUpperCase()} view of this exact product\n- Use the clean product image provided as reference\n- Maintain exact colors and details\n- Professional e-commerce quality output`;\n\nconsole.log('Prompt construído para:', angle);\n\nreturn [{\n  json: {\n    ...inputData,\n    prompt: fullPrompt,\n    productType: productType\n  },\n  binary: binary\n}];"
      },
      "id": "build-prompt-001",
      "name": "Construir Prompt Angulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -120]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// ETAPA 2: GERAR ÂNGULO\n// Gemini - Generate Angle View\n// ========================================\n\nconst inputData = $input.first().json;\nconst binary = $input.first().binary;\nconst prompt = inputData.prompt;\nconst angle = inputData.currentAngle;\n\nconst apiKey = $env.GEMINI_API_KEY;\nconst model = 'gemini-3-pro-image-preview';\nconst endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${apiKey}`;\n\nconsole.log('=== GERANDO ÂNGULO:', angle, '===');\n\n// Usar a imagem limpa como base\nlet imageBase64 = null;\nlet imageMimeType = 'image/png';\n\nif (binary && binary.cleanImage) {\n  imageBase64 = binary.cleanImage.data;\n  imageMimeType = binary.cleanImage.mimeType || 'image/png';\n  console.log('Usando imagem limpa como base');\n}\n\nif (!imageBase64) {\n  throw new Error('Imagem limpa não encontrada');\n}\n\nconst payload = {\n  contents: [\n    {\n      role: \"user\",\n      parts: [\n        {\n          inline_data: {\n            mime_type: imageMimeType,\n            data: imageBase64\n          }\n        },\n        { text: prompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseModalities: [\"TEXT\", \"IMAGE\"],\n    temperature: 0.8\n  },\n  safetySettings: [\n    { category: \"HARM_CATEGORY_HARASSMENT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_HATE_SPEECH\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_DANGEROUS_CONTENT\", threshold: \"BLOCK_NONE\" }\n  ]\n};\n\nconsole.log('Enviando para Gemini (gerar ângulo)...');\n\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: endpoint,\n    headers: { 'Content-Type': 'application/json' },\n    body: payload,\n    json: true,\n    timeout: 180000\n  });\n} catch (error) {\n  console.log('Erro na chamada:', error.message);\n  throw new Error('Erro Gemini (angle ' + angle + '): ' + error.message);\n}\n\n// Extrair imagem gerada\nlet generatedImageBase64 = null;\n\nif (response.candidates && response.candidates[0] && response.candidates[0].content) {\n  const responseParts = response.candidates[0].content.parts;\n  for (const part of responseParts) {\n    if (part.inlineData && part.inlineData.data) {\n      generatedImageBase64 = part.inlineData.data;\n      console.log('Ângulo', angle, 'gerado com sucesso!');\n    }\n  }\n}\n\nif (!generatedImageBase64) {\n  throw new Error('Gemini não retornou imagem para ângulo: ' + angle);\n}\n\n// Capturar tokens se disponível\nlet tokenUsage = null;\nif (response.usageMetadata) {\n  tokenUsage = {\n    promptTokens: response.usageMetadata.promptTokenCount || 0,\n    outputTokens: response.usageMetadata.candidatesTokenCount || 0,\n    totalTokens: response.usageMetadata.totalTokenCount || 0\n  };\n}\n\nconsole.log('=== ÂNGULO', angle, 'CONCLUÍDO ===');\n\nreturn [{\n  json: {\n    ...inputData,\n    tokenUsage: tokenUsage\n  },\n  binary: {\n    ...binary,\n    generatedAngle: {\n      data: generatedImageBase64,\n      mimeType: 'image/png',\n      fileName: `studio_${angle}.png`\n    }\n  }\n}];"
      },
      "id": "gen-angle-001",
      "name": "Gerar Angulo (Gemini)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -120]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// GERAR PATH PARA IMAGEM DO ÂNGULO\n// ========================================\n\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst inputData = $input.first().json;\nconst binary = $input.first().binary;\nconst angle = inputData.currentAngle;\n\nconst angleImageId = generateUUID();\nconst userId = $('Preparar Dados').item.json.userId;\nconst productId = $('Preparar Dados').item.json.productId;\n\nconst storagePath = `${userId}/${productId}/studio_${angle}_${angleImageId}.png`;\nconst publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/products/${storagePath}`;\n\nreturn [{\n  json: {\n    ...inputData,\n    angleImageId: angleImageId,\n    angleStoragePath: storagePath,\n    anglePublicUrl: publicUrl\n  },\n  binary: binary\n}];"
      },
      "id": "gen-angle-path-001",
      "name": "Gerar Path Angulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, -120]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "products",
        "fileName": "={{ $json.angleStoragePath }}",
        "binaryPropertyName": "generatedAngle",
        "additionalFields": {}
      },
      "id": "upload-angle-001",
      "name": "Upload Angulo",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [3300, -120],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "product_images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.productId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Preparar Dados').item.json.userId }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "product_studio"
            },
            {
              "fieldId": "angle",
              "fieldValue": "={{ $json.currentAngle }}"
            },
            {
              "fieldId": "storage_path",
              "fieldValue": "={{ $json.angleStoragePath }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.anglePublicUrl }}"
            },
            {
              "fieldId": "generation_id",
              "fieldValue": "={{ $json.generationId }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ 'studio_' + $json.currentAngle + '.png' }}"
            },
            {
              "fieldId": "mime_type",
              "fieldValue": "image/png"
            },
            {
              "fieldId": "is_primary",
              "fieldValue": "false"
            }
          ]
        }
      },
      "id": "insert-angle-001",
      "name": "Inserir Imagem Angulo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3520, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// AGREGAR RESULTADOS DE TODOS OS ÂNGULOS\n// ========================================\n\nconst items = $input.all();\n\nconsole.log('=== AGREGANDO RESULTADOS ===');\nconsole.log('Total de ângulos processados:', items.length);\n\nconst generations = items.map(item => {\n  return {\n    angle: item.json.currentAngle,\n    image_url: item.json.anglePublicUrl,\n    image_id: item.json.angleImageId,\n    storage_path: item.json.angleStoragePath\n  };\n});\n\n// Pegar dados do primeiro item (são iguais para todos)\nconst firstItem = items[0].json;\n\nreturn [{\n  json: {\n    generationId: firstItem.generationId,\n    cleanImageUrl: firstItem.cleanPublicUrl,\n    generations: generations,\n    totalAngles: items.length\n  }\n}];"
      },
      "id": "aggregate-001",
      "name": "Agregar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, -120]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generations",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.generationId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clean_image_url",
              "fieldValue": "={{ $json.cleanImageUrl }}"
            },
            {
              "fieldId": "output_urls",
              "fieldValue": "={{ JSON.stringify($json.generations) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "processing_time_ms",
              "fieldValue": "={{ Date.now() - $('Preparar Dados').item.json.startTime }}"
            }
          ]
        }
      },
      "id": "update-gen-001",
      "name": "Atualizar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3960, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar Dados').item.json.userId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "credits",
              "fieldValue": "={{ $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsNeeded }}"
            },
            {
              "fieldId": "credits_used_this_month",
              "fieldValue": "={{ ($('Buscar Usuario').item.json.credits_used_this_month || 0) + $('Preparar Dados').item.json.creditsNeeded }}"
            }
          ]
        }
      },
      "id": "debit-001",
      "name": "Debitar Creditos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4180, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  clean_image_url: $('Agregar Resultados').item.json.cleanImageUrl,\n  generations: $('Agregar Resultados').item.json.generations,\n  generation_id: $('Agregar Resultados').item.json.generationId,\n  credits_used: $('Preparar Dados').item.json.creditsNeeded,\n  credits_remaining: $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsNeeded\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-001",
      "name": "Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4400, -120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario": {
      "main": [
        [
          {
            "node": "Tem Creditos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Creditos?": {
      "main": [
        [
          {
            "node": "Buscar Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro - Sem Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imagem": {
      "main": [
        [
          {
            "node": "Buscar Produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produto": {
      "main": [
        [
          {
            "node": "Criar Geracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Geracao": {
      "main": [
        [
          {
            "node": "Download Imagem Original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagem Original": {
      "main": [
        [
          {
            "node": "Remover Fundo (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Fundo (Gemini)": {
      "main": [
        [
          {
            "node": "Gerar Path Imagem Limpa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Path Imagem Limpa": {
      "main": [
        [
          {
            "node": "Upload Imagem Limpa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Imagem Limpa": {
      "main": [
        [
          {
            "node": "Preparar Loop Angulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Loop Angulos": {
      "main": [
        [
          {
            "node": "Construir Prompt Angulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Prompt Angulo": {
      "main": [
        [
          {
            "node": "Gerar Angulo (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Angulo (Gemini)": {
      "main": [
        [
          {
            "node": "Gerar Path Angulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Path Angulo": {
      "main": [
        [
          {
            "node": "Upload Angulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Angulo": {
      "main": [
        [
          {
            "node": "Inserir Imagem Angulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir Imagem Angulo": {
      "main": [
        [
          {
            "node": "Agregar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar Resultados": {
      "main": [
        [
          {
            "node": "Atualizar Geracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Geracao": {
      "main": [
        [
          {
            "node": "Debitar Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debitar Creditos": {
      "main": [
        [
          {
            "node": "Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f5408b2397ec961558c2d1645ab20174aeb712fe37b2f614021d4bd5b8702549"
  }
}
