n8n-workflows/01-get-user-billing.json
{
  "name": "Vizzu - Get User Billing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/get-user-billing",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "get-user-billing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_subscriptions WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-subscription",
      "name": "Get Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_credits WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-credits",
      "name": "Get Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "user_id",
              "field2": "user_id"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const subscription = $input.first().json;\nconst credits = $('Get Credits').first().json;\n\nreturn {\n  json: {\n    success: true,\n    subscription: subscription.id ? {\n      id: subscription.id,\n      user_id: subscription.user_id,\n      plan_id: subscription.plan_id,\n      status: subscription.status,\n      billing_period: subscription.billing_period,\n      current_period_start: subscription.current_period_start,\n      current_period_end: subscription.current_period_end,\n      cancel_at_period_end: subscription.cancel_at_period_end,\n      stripe_subscription_id: subscription.stripe_subscription_id,\n      stripe_customer_id: subscription.stripe_customer_id,\n      created_at: subscription.created_at,\n      updated_at: subscription.updated_at\n    } : null,\n    credits: credits.user_id ? {\n      user_id: credits.user_id,\n      balance: credits.balance || 0,\n      lifetime_purchased: credits.lifetime_purchased || 0,\n      lifetime_used: credits.lifetime_used || 0,\n      last_renewal_credits: credits.last_renewal_credits || 0,\n      updated_at: credits.updated_at\n    } : { user_id: $input.first().json.body?.user_id, balance: 0 }\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: false,\n    error: 'Erro ao buscar dados de billing',\n    message: $input.first().json.message || 'Unknown error'\n  }\n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get Subscription", "type": "main", "index": 0 },
          { "node": "Get Credits", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Subscription": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Get Credits": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 1 }]
      ]
    },
    "Merge Data": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Error Handler": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" }
  ]
}
