n8n-workflows/02-create-checkout.json
{
  "name": "Vizzu - Create Checkout",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/create-checkout",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "create-checkout"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT us.*, uc.balance as credit_balance, u.email FROM user_subscriptions us LEFT JOIN user_credits uc ON us.user_id = uc.user_id LEFT JOIN auth.users u ON us.user_id = u.id WHERE us.user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-user-data",
      "name": "Get User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-type",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "credits",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-type",
      "name": "Credits or Subscription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst userData = $('Get User Data').first().json;\n\n// Preços por plano (crédito avulso)\nconst CREDIT_PRICES = {\n  'free': 3.99,\n  'starter': 2.99,\n  'pro': 1.99,\n  'premier': 1.59\n};\n\nconst planId = userData.plan_id || 'free';\nconst creditPrice = CREDIT_PRICES[planId] || 3.99;\nconst amount = body.credit_amount || 50;\nconst totalPrice = Math.round(amount * creditPrice * 100); // Em centavos\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    email: userData.email,\n    stripe_customer_id: userData.stripe_customer_id,\n    type: 'credits',\n    amount: amount,\n    unit_price: creditPrice,\n    total_price: totalPrice,\n    success_url: body.success_url,\n    cancel_url: body.cancel_url\n  }\n};"
      },
      "id": "prepare-credits",
      "name": "Prepare Credits Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst userData = $('Get User Data').first().json;\n\n// Preços dos planos (IDs do Stripe - substituir pelos reais)\nconst PLAN_PRICES = {\n  'starter': {\n    'monthly': 'price_starter_monthly',\n    'yearly': 'price_starter_yearly'\n  },\n  'pro': {\n    'monthly': 'price_pro_monthly',\n    'yearly': 'price_pro_yearly'\n  },\n  'premier': {\n    'monthly': 'price_premier_monthly',\n    'yearly': 'price_premier_yearly'\n  }\n};\n\nconst planId = body.plan_id || 'starter';\nconst billingPeriod = body.billing_period || 'monthly';\nconst priceId = PLAN_PRICES[planId]?.[billingPeriod];\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    email: userData.email,\n    stripe_customer_id: userData.stripe_customer_id,\n    type: 'subscription',\n    plan_id: planId,\n    billing_period: billingPeriod,\n    stripe_price_id: priceId,\n    success_url: body.success_url,\n    cancel_url: body.cancel_url\n  }\n};"
      },
      "id": "prepare-subscription",
      "name": "Prepare Subscription Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"payment\",\n  \"customer_email\": \"{{ $json.email }}\",\n  \"line_items\": [\n    {\n      \"price_data\": {\n        \"currency\": \"brl\",\n        \"product_data\": {\n          \"name\": \"{{ $json.amount }} Créditos Vizzu\",\n          \"description\": \"Pacote de {{ $json.amount }} créditos para usar no Vizzu Studio\"\n        },\n        \"unit_amount\": {{ $json.total_price }}\n      },\n      \"quantity\": 1\n    }\n  ],\n  \"success_url\": \"{{ $json.success_url }}?session_id={CHECKOUT_SESSION_ID}\",\n  \"cancel_url\": \"{{ $json.cancel_url }}\",\n  \"metadata\": {\n    \"user_id\": \"{{ $json.user_id }}\",\n    \"type\": \"credits\",\n    \"amount\": \"{{ $json.amount }}\"\n  }\n}",
        "options": {}
      },
      "id": "stripe-credits",
      "name": "Stripe Credits Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"mode\": \"subscription\",\n  \"customer_email\": \"{{ $json.email }}\",\n  \"line_items\": [\n    {\n      \"price\": \"{{ $json.stripe_price_id }}\",\n      \"quantity\": 1\n    }\n  ],\n  \"success_url\": \"{{ $json.success_url }}?session_id={CHECKOUT_SESSION_ID}\",\n  \"cancel_url\": \"{{ $json.cancel_url }}\",\n  \"metadata\": {\n    \"user_id\": \"{{ $json.user_id }}\",\n    \"type\": \"subscription\",\n    \"plan_id\": \"{{ $json.plan_id }}\",\n    \"billing_period\": \"{{ $json.billing_period }}\"\n  }\n}",
        "options": {}
      },
      "id": "stripe-subscription",
      "name": "Stripe Subscription Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO checkout_sessions (user_id, type, status, amount, stripe_session_id, expires_at) VALUES ('{{ $('Webhook').first().json.body.user_id }}', 'credits', 'pending', {{ $('Prepare Credits Data').first().json.amount }}, '{{ $json.id }}', NOW() + INTERVAL '30 minutes') RETURNING id",
        "options": {}
      },
      "id": "save-credits-session",
      "name": "Save Credits Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO checkout_sessions (user_id, type, status, plan_id, billing_period, stripe_session_id, expires_at) VALUES ('{{ $('Webhook').first().json.body.user_id }}', 'subscription', 'pending', '{{ $('Prepare Subscription Data').first().json.plan_id }}', '{{ $('Prepare Subscription Data').first().json.billing_period }}', '{{ $json.id }}', NOW() + INTERVAL '30 minutes') RETURNING id",
        "options": {}
      },
      "id": "save-subscription-session",
      "name": "Save Subscription Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stripeSession = $('Stripe Credits Checkout').first().json;\n\nreturn {\n  json: {\n    success: true,\n    checkout: {\n      id: stripeSession.id,\n      url: stripeSession.url,\n      expires_at: new Date(stripeSession.expires_at * 1000).toISOString()\n    }\n  }\n};"
      },
      "id": "format-credits-response",
      "name": "Format Credits Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "const stripeSession = $('Stripe Subscription Checkout').first().json;\n\nreturn {\n  json: {\n    success: true,\n    checkout: {\n      id: stripeSession.id,\n      url: stripeSession.url,\n      expires_at: new Date(stripeSession.expires_at * 1000).toISOString()\n    }\n  }\n};"
      },
      "id": "format-subscription-response",
      "name": "Format Subscription Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get User Data", "type": "main", "index": 0 }]
      ]
    },
    "Get User Data": {
      "main": [
        [{ "node": "Credits or Subscription?", "type": "main", "index": 0 }]
      ]
    },
    "Credits or Subscription?": {
      "main": [
        [{ "node": "Prepare Credits Data", "type": "main", "index": 0 }],
        [{ "node": "Prepare Subscription Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Credits Data": {
      "main": [
        [{ "node": "Stripe Credits Checkout", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Subscription Data": {
      "main": [
        [{ "node": "Stripe Subscription Checkout", "type": "main", "index": 0 }]
      ]
    },
    "Stripe Credits Checkout": {
      "main": [
        [{ "node": "Save Credits Session", "type": "main", "index": 0 }]
      ]
    },
    "Stripe Subscription Checkout": {
      "main": [
        [{ "node": "Save Subscription Session", "type": "main", "index": 0 }]
      ]
    },
    "Save Credits Session": {
      "main": [
        [{ "node": "Format Credits Response", "type": "main", "index": 0 }]
      ]
    },
    "Save Subscription Session": {
      "main": [
        [{ "node": "Format Subscription Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Credits Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Format Subscription Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" },
    { "name": "stripe" }
  ]
}
