n8n-workflows/03-webhook-stripe.json
{
  "name": "Vizzu - Webhook Stripe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/webhook-stripe",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "webhook-stripe"
    },
    {
      "parameters": {
        "jsCode": "// Validar assinatura do webhook do Stripe\n// Em produção, usar a biblioteca oficial do Stripe\nconst webhookSecret = $env.STRIPE_WEBHOOK_SECRET;\nconst signature = $input.first().json.headers['stripe-signature'];\nconst rawBody = $input.first().json.body;\n\n// Por enquanto, apenas parsear o evento\nconst event = typeof rawBody === 'string' ? JSON.parse(rawBody) : rawBody;\n\nreturn {\n  json: {\n    event_type: event.type,\n    event_id: event.id,\n    data: event.data?.object,\n    metadata: event.data?.object?.metadata\n  }\n};"
      },
      "id": "parse-event",
      "name": "Parse Stripe Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "checkout-completed",
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "checkout.session.completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-event",
      "name": "Switch Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300],
      "parameters2": {
        "rules": {
          "rules": [
            {
              "value": "checkout.session.completed",
              "output": 0
            },
            {
              "value": "invoice.paid",
              "output": 1
            },
            {
              "value": "customer.subscription.deleted",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-credits",
              "leftValue": "={{ $json.metadata?.type }}",
              "rightValue": "credits",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-checkout-type",
      "name": "Credits or Subscription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE checkout_sessions SET status = 'complete' WHERE stripe_session_id = '{{ $json.data.id }}'",
        "options": {}
      },
      "id": "update-session-credits",
      "name": "Update Session (Credits)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = balance + {{ $json.metadata.amount }}, lifetime_purchased = lifetime_purchased + {{ $json.metadata.amount }}, updated_at = NOW() WHERE user_id = '{{ $json.metadata.user_id }}'",
        "options": {}
      },
      "id": "add-credits",
      "name": "Add Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_transactions (user_id, type, amount, balance_after, description, stripe_payment_intent_id) SELECT '{{ $json.metadata.user_id }}', 'purchase', {{ $json.metadata.amount }}, uc.balance, 'Compra de {{ $json.metadata.amount }} créditos', '{{ $json.data.payment_intent }}' FROM user_credits uc WHERE uc.user_id = '{{ $json.metadata.user_id }}'",
        "options": {}
      },
      "id": "log-credits-transaction",
      "name": "Log Credits Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1570, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE checkout_sessions SET status = 'complete' WHERE stripe_session_id = '{{ $json.data.id }}'",
        "options": {}
      },
      "id": "update-session-subscription",
      "name": "Update Session (Subscription)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_subscriptions SET plan_id = '{{ $json.metadata.plan_id }}', status = 'active', billing_period = '{{ $json.metadata.billing_period }}', stripe_subscription_id = '{{ $json.data.subscription }}', stripe_customer_id = '{{ $json.data.customer }}', current_period_start = NOW(), current_period_end = NOW() + INTERVAL '{{ $json.metadata.billing_period === \"yearly\" ? \"1 year\" : \"1 month\" }}', updated_at = NOW() WHERE user_id = '{{ $json.metadata.user_id }}'",
        "options": {}
      },
      "id": "update-subscription",
      "name": "Update Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Créditos por plano\nconst PLAN_CREDITS = {\n  'starter': 100,\n  'pro': 200,\n  'premier': 300\n};\n\nconst planId = $json.metadata?.plan_id || 'starter';\nconst credits = PLAN_CREDITS[planId] || 100;\n\nreturn {\n  json: {\n    ...$json,\n    plan_credits: credits\n  }\n};"
      },
      "id": "calc-plan-credits",
      "name": "Calculate Plan Credits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = {{ $json.plan_credits }}, last_renewal_credits = {{ $json.plan_credits }}, updated_at = NOW() WHERE user_id = '{{ $json.metadata.user_id }}'",
        "options": {}
      },
      "id": "set-plan-credits",
      "name": "Set Plan Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1790, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_transactions (user_id, type, amount, balance_after, description) VALUES ('{{ $json.metadata.user_id }}', 'renewal', {{ $json.plan_credits }}, {{ $json.plan_credits }}, 'Upgrade para plano {{ $json.metadata.plan_id }}')",
        "options": {}
      },
      "id": "log-subscription-transaction",
      "name": "Log Subscription Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2010, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Evento: invoice.paid - Renovação de assinatura\nconst subscriptionId = $json.data?.subscription;\nconst customerId = $json.data?.customer;\n\nreturn {\n  json: {\n    subscription_id: subscriptionId,\n    customer_id: customerId,\n    amount_paid: $json.data?.amount_paid\n  }\n};"
      },
      "id": "process-invoice",
      "name": "Process Invoice Paid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT us.*, uc.balance FROM user_subscriptions us LEFT JOIN user_credits uc ON us.user_id = uc.user_id WHERE us.stripe_subscription_id = '{{ $json.subscription_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-subscription-by-stripe",
      "name": "Get Subscription by Stripe ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subscription = $input.first().json;\n\n// Créditos por plano\nconst PLAN_CREDITS = {\n  'starter': 100,\n  'pro': 200,\n  'premier': 300\n};\n\nconst credits = PLAN_CREDITS[subscription.plan_id] || 100;\nconst isYearly = subscription.billing_period === 'yearly';\nconst interval = isYearly ? '1 year' : '1 month';\n\nreturn {\n  json: {\n    user_id: subscription.user_id,\n    plan_id: subscription.plan_id,\n    credits_to_add: credits,\n    interval: interval\n  }\n};"
      },
      "id": "calc-renewal-credits",
      "name": "Calculate Renewal Credits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = balance + {{ $json.credits_to_add }}, last_renewal_credits = {{ $json.credits_to_add }}, updated_at = NOW() WHERE user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "add-renewal-credits",
      "name": "Add Renewal Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1570, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_subscriptions SET current_period_start = NOW(), current_period_end = NOW() + INTERVAL '{{ $json.interval }}', updated_at = NOW() WHERE user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "update-period",
      "name": "Update Period",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1790, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_subscriptions SET status = 'canceled', cancel_at_period_end = false, updated_at = NOW() WHERE stripe_subscription_id = '{{ $json.data.id }}'",
        "options": {}
      },
      "id": "cancel-subscription",
      "name": "Cancel Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 500],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    received: true\n  }\n};"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Stripe Event", "type": "main", "index": 0 }]
      ]
    },
    "Parse Stripe Event": {
      "main": [
        [{ "node": "Switch Event Type", "type": "main", "index": 0 }]
      ]
    },
    "Switch Event Type": {
      "main": [
        [{ "node": "Check Credits or Subscription?", "type": "main", "index": 0 }],
        [{ "node": "Process Invoice Paid", "type": "main", "index": 0 }],
        [{ "node": "Cancel Subscription", "type": "main", "index": 0 }],
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Credits or Subscription?": {
      "main": [
        [{ "node": "Update Session (Credits)", "type": "main", "index": 0 }],
        [{ "node": "Update Session (Subscription)", "type": "main", "index": 0 }]
      ]
    },
    "Update Session (Credits)": {
      "main": [
        [{ "node": "Add Credits", "type": "main", "index": 0 }]
      ]
    },
    "Add Credits": {
      "main": [
        [{ "node": "Log Credits Transaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Credits Transaction": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Update Session (Subscription)": {
      "main": [
        [{ "node": "Update Subscription", "type": "main", "index": 0 }]
      ]
    },
    "Update Subscription": {
      "main": [
        [{ "node": "Calculate Plan Credits", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Plan Credits": {
      "main": [
        [{ "node": "Set Plan Credits", "type": "main", "index": 0 }]
      ]
    },
    "Set Plan Credits": {
      "main": [
        [{ "node": "Log Subscription Transaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Subscription Transaction": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Process Invoice Paid": {
      "main": [
        [{ "node": "Get Subscription by Stripe ID", "type": "main", "index": 0 }]
      ]
    },
    "Get Subscription by Stripe ID": {
      "main": [
        [{ "node": "Calculate Renewal Credits", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Renewal Credits": {
      "main": [
        [{ "node": "Add Renewal Credits", "type": "main", "index": 0 }]
      ]
    },
    "Add Renewal Credits": {
      "main": [
        [{ "node": "Update Period", "type": "main", "index": 0 }]
      ]
    },
    "Update Period": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Cancel Subscription": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Success Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" },
    { "name": "stripe" },
    { "name": "webhook" }
  ]
}
