n8n-workflows/04-buy-credits.json
{
  "name": "Vizzu - Buy Credits (Direct)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/buy-credits",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "buy-credits"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT balance FROM user_credits WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-current-balance",
      "name": "Get Current Balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst currentBalance = $input.first().json.balance || 0;\nconst amount = parseInt(body.amount) || 0;\nconst newBalance = currentBalance + amount;\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    amount: amount,\n    current_balance: currentBalance,\n    new_balance: newBalance,\n    payment_intent_id: body.payment_intent_id || null\n  }\n};"
      },
      "id": "calculate-balance",
      "name": "Calculate New Balance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = {{ $json.new_balance }}, lifetime_purchased = lifetime_purchased + {{ $json.amount }}, updated_at = NOW() WHERE user_id = '{{ $json.user_id }}' RETURNING balance",
        "options": {}
      },
      "id": "update-credits",
      "name": "Update Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_transactions (user_id, type, amount, balance_after, description, stripe_payment_intent_id) VALUES ('{{ $('Calculate New Balance').first().json.user_id }}', 'purchase', {{ $('Calculate New Balance').first().json.amount }}, {{ $json.balance }}, 'Compra de {{ $('Calculate New Balance').first().json.amount }} créditos', {{ $('Calculate New Balance').first().json.payment_intent_id ? \"'\" + $('Calculate New Balance').first().json.payment_intent_id + \"'\" : 'NULL' }}) RETURNING id",
        "options": {}
      },
      "id": "log-transaction",
      "name": "Log Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const calcData = $('Calculate New Balance').first().json;\nconst transactionId = $input.first().json.id;\n\nreturn {\n  json: {\n    success: true,\n    credits_added: calcData.amount,\n    new_balance: calcData.new_balance,\n    transaction_id: transactionId\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Current Balance", "type": "main", "index": 0 }]
      ]
    },
    "Get Current Balance": {
      "main": [
        [{ "node": "Calculate New Balance", "type": "main", "index": 0 }]
      ]
    },
    "Calculate New Balance": {
      "main": [
        [{ "node": "Update Credits", "type": "main", "index": 0 }]
      ]
    },
    "Update Credits": {
      "main": [
        [{ "node": "Log Transaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Transaction": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" }
  ]
}
