n8n-workflows/05-use-credits.json
{
  "name": "Vizzu - Use Credits",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/use-credits",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "use-credits"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT balance FROM user_credits WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-current-balance",
      "name": "Get Current Balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-balance",
              "leftValue": "={{ $json.balance }}",
              "rightValue": "={{ $('Webhook').first().json.body.amount }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-balance",
      "name": "Has Enough Credits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst currentBalance = $('Get Current Balance').first().json.balance || 0;\nconst amount = parseInt(body.amount) || 0;\nconst newBalance = currentBalance - amount;\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    amount: amount,\n    current_balance: currentBalance,\n    new_balance: newBalance,\n    description: body.description || 'Uso de créditos',\n    reference_id: body.reference_id || null\n  }\n};"
      },
      "id": "calculate-balance",
      "name": "Calculate New Balance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = {{ $json.new_balance }}, lifetime_used = lifetime_used + {{ $json.amount }}, updated_at = NOW() WHERE user_id = '{{ $json.user_id }}' RETURNING balance",
        "options": {}
      },
      "id": "deduct-credits",
      "name": "Deduct Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_transactions (user_id, type, amount, balance_after, description, reference_id) VALUES ('{{ $('Calculate New Balance').first().json.user_id }}', 'usage', -{{ $('Calculate New Balance').first().json.amount }}, {{ $json.balance }}, '{{ $('Calculate New Balance').first().json.description }}', {{ $('Calculate New Balance').first().json.reference_id ? \"'\" + $('Calculate New Balance').first().json.reference_id + \"'\" : 'NULL' }}) RETURNING id",
        "options": {}
      },
      "id": "log-transaction",
      "name": "Log Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1350, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const calcData = $('Calculate New Balance').first().json;\nconst transactionId = $input.first().json.id;\n\nreturn {\n  json: {\n    success: true,\n    credits_used: calcData.amount,\n    new_balance: calcData.new_balance,\n    transaction_id: transactionId\n  }\n};"
      },
      "id": "format-success",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst currentBalance = $('Get Current Balance').first().json.balance || 0;\n\nreturn {\n  json: {\n    success: false,\n    error: 'insufficient_credits',\n    message: `Créditos insuficientes. Saldo: ${currentBalance}, Necessário: ${body.amount}`,\n    current_balance: currentBalance,\n    required: parseInt(body.amount)\n  }\n};"
      },
      "id": "format-error",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 402
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Current Balance", "type": "main", "index": 0 }]
      ]
    },
    "Get Current Balance": {
      "main": [
        [{ "node": "Has Enough Credits?", "type": "main", "index": 0 }]
      ]
    },
    "Has Enough Credits?": {
      "main": [
        [{ "node": "Calculate New Balance", "type": "main", "index": 0 }],
        [{ "node": "Format Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Calculate New Balance": {
      "main": [
        [{ "node": "Deduct Credits", "type": "main", "index": 0 }]
      ]
    },
    "Deduct Credits": {
      "main": [
        [{ "node": "Log Transaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Transaction": {
      "main": [
        [{ "node": "Format Success Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Success Response": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    },
    "Format Error Response": {
      "main": [
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" }
  ]
}
