n8n-workflows/06-change-plan.json
{
  "name": "Vizzu - Change Plan (Direct)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/change-plan",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "change-plan"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Créditos por plano\nconst PLAN_CREDITS = {\n  'free': 0,\n  'starter': 100,\n  'pro': 200,\n  'premier': 300\n};\n\nconst planId = body.new_plan_id;\nconst credits = PLAN_CREDITS[planId] || 0;\nconst billingPeriod = body.billing_period || 'monthly';\nconst isYearly = billingPeriod === 'yearly';\nconst intervalDays = isYearly ? 365 : 30;\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    new_plan_id: planId,\n    billing_period: billingPeriod,\n    plan_credits: credits,\n    interval_days: intervalDays,\n    payment_intent_id: body.payment_intent_id\n  }\n};"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_subscriptions SET plan_id = '{{ $json.new_plan_id }}', billing_period = '{{ $json.billing_period }}', status = 'active', current_period_start = NOW(), current_period_end = NOW() + INTERVAL '{{ $json.interval_days }} days', updated_at = NOW() WHERE user_id = '{{ $json.user_id }}' RETURNING *",
        "options": {}
      },
      "id": "update-subscription",
      "name": "Update Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [690, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_credits SET balance = {{ $('Prepare Data').first().json.plan_credits }}, last_renewal_credits = {{ $('Prepare Data').first().json.plan_credits }}, updated_at = NOW() WHERE user_id = '{{ $('Prepare Data').first().json.user_id }}' RETURNING balance",
        "options": {}
      },
      "id": "set-credits",
      "name": "Set Plan Credits",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO credit_transactions (user_id, type, amount, balance_after, description) VALUES ('{{ $('Prepare Data').first().json.user_id }}', 'renewal', {{ $('Prepare Data').first().json.plan_credits }}, {{ $json.balance }}, 'Upgrade para plano {{ $('Prepare Data').first().json.new_plan_id }}')",
        "options": {}
      },
      "id": "log-transaction",
      "name": "Log Transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subscription = $('Update Subscription').first().json;\nconst prepData = $('Prepare Data').first().json;\nconst newBalance = $('Set Plan Credits').first().json.balance;\n\nreturn {\n  json: {\n    success: true,\n    subscription: {\n      id: subscription.id,\n      user_id: subscription.user_id,\n      plan_id: subscription.plan_id,\n      status: subscription.status,\n      billing_period: subscription.billing_period,\n      current_period_start: subscription.current_period_start,\n      current_period_end: subscription.current_period_end\n    },\n    credits_added: prepData.plan_credits,\n    new_balance: newBalance\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Prepare Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Data": {
      "main": [
        [{ "node": "Update Subscription", "type": "main", "index": 0 }]
      ]
    },
    "Update Subscription": {
      "main": [
        [{ "node": "Set Plan Credits", "type": "main", "index": 0 }]
      ]
    },
    "Set Plan Credits": {
      "main": [
        [{ "node": "Log Transaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Transaction": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" }
  ]
}
