n8n-workflows/07-cancel-subscription.json
{
  "name": "Vizzu - Cancel Subscription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/cancel-subscription",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "cancel-subscription"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_subscriptions WHERE user_id = '{{ $json.body.user_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-subscription",
      "name": "Get Subscription",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-stripe",
              "leftValue": "={{ $json.stripe_subscription_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-stripe",
      "name": "Has Stripe Subscription?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $json.stripe_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cancel_at_period_end\": {{ $('Webhook').first().json.body.cancel_immediately ? false : true }}\n}",
        "options": {}
      },
      "id": "cancel-stripe",
      "name": "Cancel Stripe Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook').first().json.body;\nconst subscription = $('Get Subscription').first().json;\nconst cancelImmediately = body.cancel_immediately || false;\n\nlet cancelAt;\nif (cancelImmediately) {\n  cancelAt = new Date().toISOString();\n} else {\n  cancelAt = subscription.current_period_end;\n}\n\nreturn {\n  json: {\n    user_id: body.user_id,\n    cancel_immediately: cancelImmediately,\n    cancel_at: cancelAt\n  }\n};"
      },
      "id": "prepare-cancel",
      "name": "Prepare Cancel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_subscriptions SET status = CASE WHEN {{ $json.cancel_immediately }} THEN 'canceled' ELSE status END, cancel_at_period_end = CASE WHEN {{ $json.cancel_immediately }} THEN false ELSE true END, updated_at = NOW() WHERE user_id = '{{ $json.user_id }}'",
        "options": {}
      },
      "id": "update-db",
      "name": "Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1130, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepData = $('Prepare Cancel Data').first().json;\n\nreturn {\n  json: {\n    success: true,\n    cancel_at: prepData.cancel_at\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Subscription", "type": "main", "index": 0 }]
      ]
    },
    "Get Subscription": {
      "main": [
        [{ "node": "Has Stripe Subscription?", "type": "main", "index": 0 }]
      ]
    },
    "Has Stripe Subscription?": {
      "main": [
        [{ "node": "Cancel Stripe Subscription", "type": "main", "index": 0 }],
        [{ "node": "Prepare Cancel Data", "type": "main", "index": 0 }]
      ]
    },
    "Cancel Stripe Subscription": {
      "main": [
        [{ "node": "Prepare Cancel Data", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Cancel Data": {
      "main": [
        [{ "node": "Update Database", "type": "main", "index": 0 }]
      ]
    },
    "Update Database": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" },
    { "name": "stripe" }
  ]
}
