n8n-workflows/08-get-transactions.json
{
  "name": "Vizzu - Get Transactions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/get-transactions",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "get-transactions"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM credit_transactions WHERE user_id = '{{ $json.body.user_id }}' ORDER BY created_at DESC LIMIT {{ $json.body.limit || 50 }} OFFSET {{ $json.body.offset || 0 }}",
        "options": {}
      },
      "id": "get-transactions",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 250],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total FROM credit_transactions WHERE user_id = '{{ $json.body.user_id }}'",
        "options": {}
      },
      "id": "count-transactions",
      "name": "Count Transactions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          }
        }
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const transactions = $('Get Transactions').all().map(item => item.json);\nconst total = parseInt($('Count Transactions').first().json.total) || 0;\n\nreturn {\n  json: {\n    success: true,\n    transactions: transactions,\n    total: total\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Get Transactions", "type": "main", "index": 0 },
          { "node": "Count Transactions", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Transactions": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 0 }]
      ]
    },
    "Count Transactions": {
      "main": [
        [{ "node": "Merge Results", "type": "main", "index": 1 }]
      ]
    },
    "Merge Results": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" }
  ]
}
