n8n-workflows/09-checkout-status.json
{
  "name": "Vizzu - Checkout Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/checkout-status",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "checkout-status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM checkout_sessions WHERE stripe_session_id = '{{ $json.body.session_id }}' LIMIT 1",
        "options": {}
      },
      "id": "get-session",
      "name": "Get Session from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-db",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Is Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/checkout/sessions/{{ $('Webhook').first().json.body.session_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "id": "check-stripe",
      "name": "Check Stripe Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200],
      "credentials": {
        "stripeApi": {
          "id": "stripe-api",
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stripeStatus = $json.status;\nconst paymentStatus = $json.payment_status;\n\nlet status = 'pending';\nif (stripeStatus === 'complete' || paymentStatus === 'paid') {\n  status = 'complete';\n} else if (stripeStatus === 'expired') {\n  status = 'expired';\n} else if (paymentStatus === 'unpaid') {\n  status = 'pending';\n}\n\nreturn {\n  json: {\n    success: true,\n    status: status\n  }\n};"
      },
      "id": "map-stripe-status",
      "name": "Map Stripe Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "const dbStatus = $input.first().json.status;\n\nreturn {\n  json: {\n    success: true,\n    status: dbStatus || 'pending'\n  }\n};"
      },
      "id": "return-db-status",
      "name": "Return DB Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Get Session from DB", "type": "main", "index": 0 }]
      ]
    },
    "Get Session from DB": {
      "main": [
        [{ "node": "Is Pending?", "type": "main", "index": 0 }]
      ]
    },
    "Is Pending?": {
      "main": [
        [{ "node": "Check Stripe Session", "type": "main", "index": 0 }],
        [{ "node": "Return DB Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Stripe Session": {
      "main": [
        [{ "node": "Map Stripe Status", "type": "main", "index": 0 }]
      ]
    },
    "Map Stripe Status": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Return DB Status": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "vizzu" },
    { "name": "billing" },
    { "name": "stripe" }
  ]
}
