n8n-workflows/product-studio.json
{
  "name": "Vizzu - Product Studio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/product-studio",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "vizzu-product-studio"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst startTime = Date.now();\n\nconst angles = body.angles || ['front'];\nif (!Array.isArray(angles) || angles.length === 0) {\n  throw new Error('Nenhum ângulo selecionado');\n}\n\nconst calculateCredits = (numAngles) => {\n  if (numAngles === 0) return 0;\n  if (numAngles <= 2) return 1;\n  return 1 + (numAngles - 2);\n};\n\nreturn {\n  productId: body.product_id,\n  userId: body.user_id,\n  imageId: body.image_id,\n  angles: angles,\n  anglesCount: angles.length,\n  creditsNeeded: calculateCredits(angles.length),\n  startTime: startTime\n};"
      },
      "id": "prep-001",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $json.userId }}"
      },
      "id": "get-user-001",
      "name": "Buscar Usuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 0],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "check-credits",
            "leftValue": "={{ $json.credits }}",
            "rightValue": "={{ $('Preparar Dados').item.json.creditsNeeded }}",
            "operator": { "type": "number", "operation": "gte" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-credits-001",
      "name": "Tem Creditos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'insufficient_credits', message: 'Créditos insuficientes. Necessário: ' + $('Preparar Dados').item.json.creditsNeeded + ', Disponível: ' + $('Buscar Usuario').item.json.credits }) }}",
        "options": { "responseCode": 402 }
      },
      "id": "no-credits-001",
      "name": "Erro - Sem Creditos",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 120]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_images",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.imageId }}"
      },
      "id": "get-image-001",
      "name": "Buscar Imagem",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [880, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ 'id=eq.' + $('Preparar Dados').item.json.productId }}"
      },
      "id": "get-product-001",
      "name": "Buscar Produto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "generations",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "user_id", "fieldValue": "={{ $('Preparar Dados').item.json.userId }}" },
            { "fieldId": "product_id", "fieldValue": "={{ $('Preparar Dados').item.json.productId }}" },
            { "fieldId": "type", "fieldValue": "studio_ready" },
            { "fieldId": "input_image_url", "fieldValue": "={{ $('Buscar Imagem').item.json.url }}" },
            { "fieldId": "credits_used", "fieldValue": "={{ $('Preparar Dados').item.json.creditsNeeded }}" },
            { "fieldId": "status", "fieldValue": "processing" },
            { "fieldId": "started_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "create-gen-001",
      "name": "Criar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1320, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Buscar Imagem').item.json.url }}",
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "download-001",
      "name": "Download Imagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -120]
    },
    {
      "parameters": {
        "jsCode": "// ETAPA 1: GERAR FOTO DE ESTÚDIO\n// Transforma a imagem original em foto profissional com fundo cinza\nconst binary = $input.first().binary;\nconst product = $('Buscar Produto').item.json;\n\nconst apiKey = 'AIzaSyAjxVPQvFgFqFxmI4_MlHB8jeTAxvuIPNM';\nconst model = 'gemini-2.0-flash-exp';\nconst endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${apiKey}`;\n\nlet imageBase64 = null;\nlet imageMimeType = 'image/png';\n\nif (binary && binary.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  imageBase64 = buffer.toString('base64');\n  imageMimeType = binary.data.mimeType || 'image/png';\n}\n\nif (!imageBase64) throw new Error('Nenhuma imagem encontrada');\n\n// Extrair TODAS as informações do produto\nconst category = (product.category || 'produto').toLowerCase();\nconst color = product.color || '';\nconst fit = product.fit || '';\nconst description = product.description || '';\nconst attributes = product.attributes || {};\n\n// Construir descrição completa do produto\nlet productDetails = [`Category: ${category}`];\nif (color) productDetails.push(`Color: ${color}`);\nif (fit) productDetails.push(`Fit: ${fit}`);\nif (description) productDetails.push(`Description: ${description}`);\n\n// Adicionar atributos específicos (caimento, comprimento, modelagem, etc.)\nfor (const [key, value] of Object.entries(attributes)) {\n  if (value) productDetails.push(`${key}: ${value}`);\n}\n\nconst productInfo = productDetails.join('\\n');\n\nconst prompt = `Transform this product image into a professional e-commerce studio photograph.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Create a professional studio photo with SOLID LIGHT GRAY background (#EDEDED to #F2F2F2)\n- Keep the EXACT same product - do NOT change colors, details, or proportions\n- Preserve ALL product details: stitching, buttons, textures, prints, labels\n- Product should appear as if photographed in a professional studio\n- Soft, even, diffused lighting - no harsh shadows\n- Product centered and well-framed\n- Ghost mannequin style if it's clothing (as if worn by invisible person)\n- Clean, professional e-commerce quality\n- RESPECT THE PRODUCT FIT/SILHOUETTE described above\n\nCRITICAL:\n- Do NOT remove or crop any part of the product\n- Do NOT modify the product itself\n- ONLY change the background and lighting to studio quality\n- Preserve the exact original colors of the product\n- Maintain the exact fit/silhouette (slim, oversized, etc.)\n\nOutput: Professional studio photo ready for e-commerce.`;\n\nconst payload = {\n  contents: [{ role: \"user\", parts: [\n    { inline_data: { mime_type: imageMimeType, data: imageBase64 } },\n    { text: prompt }\n  ]}],\n  generationConfig: { responseModalities: [\"TEXT\", \"IMAGE\"], temperature: 0.7 },\n  safetySettings: [\n    { category: \"HARM_CATEGORY_HARASSMENT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_HATE_SPEECH\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_DANGEROUS_CONTENT\", threshold: \"BLOCK_NONE\" }\n  ]\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST', url: endpoint,\n  headers: { 'Content-Type': 'application/json' },\n  body: payload, json: true, timeout: 180000\n});\n\nlet studioImageBase64 = null;\nif (response.candidates?.[0]?.content?.parts) {\n  for (const part of response.candidates[0].content.parts) {\n    if (part.inlineData?.data) studioImageBase64 = part.inlineData.data;\n  }\n}\n\nif (!studioImageBase64) throw new Error('Gemini não retornou foto de estúdio');\n\n// Salvar base64 no JSON para passar pelo loop\nreturn [{\n  json: {\n    studioImageBase64: studioImageBase64,\n    generationId: $('Criar Geracao').item.json.id,\n    product: product\n  },\n  binary: {\n    studioImage: { data: studioImageBase64, mimeType: 'image/png', fileName: 'studio.png' }\n  }\n}];"
      },
      "id": "remove-bg-001",
      "name": "Gerar Foto Estudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -120]
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst input = $input.first();\nconst userId = $('Preparar Dados').item.json.userId;\nconst productId = $('Preparar Dados').item.json.productId;\nconst studioImageId = generateUUID();\n\nconst storagePath = `${userId}/${productId}/studio_base_${studioImageId}.png`;\nconst publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/products/${storagePath}`;\n\nreturn [{\n  json: {\n    ...input.json,\n    studioImageId,\n    studioStoragePath: storagePath,\n    studioPublicUrl: publicUrl\n  },\n  binary: input.binary\n}];"
      },
      "id": "gen-clean-path-001",
      "name": "Path Imagem Limpa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -120]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "products",
        "fileName": "={{ $json.studioStoragePath }}",
        "binaryPropertyName": "studioImage",
        "additionalFields": {}
      },
      "id": "upload-clean-001",
      "name": "Upload Imagem Limpa",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [2200, -120],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Criar um item para cada ângulo, passando o base64 via JSON\n// IMPORTANTE: Se o ângulo for 'front', usamos a foto de estúdio diretamente (já gerada na Etapa 1)\nconst input = $input.first().json;\nconst angles = $('Preparar Dados').item.json.angles;\n\nconst items = angles.map((angle, index) => ({\n  json: {\n    currentAngle: angle,\n    angleIndex: index,\n    totalAngles: angles.length,\n    studioImageBase64: input.studioImageBase64,\n    studioPublicUrl: input.studioPublicUrl,\n    generationId: input.generationId,\n    product: input.product,\n    // Se for frontal, pular geração - usar a foto de estúdio diretamente\n    isFrontAngle: angle === 'front'\n  }\n}));\n\nreturn items;"
      },
      "id": "prep-loop-001",
      "name": "Preparar Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -120]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst angle = input.currentAngle;\nconst product = input.product;\n\n// Se for frontal, não precisa gerar - passa direto\nif (input.isFrontAngle) {\n  return [{ json: { ...input, prompt: null, skipGeneration: true } }];\n}\n\n// Extrair TODAS as informações do produto\nconst category = (product.category || 'produto').toLowerCase();\nconst color = product.color || '';\nconst fit = product.fit || '';\nconst description = product.description || '';\nconst attributes = product.attributes || {};\n\n// Construir descrição completa do produto\nlet productDetails = [`Category: ${category}`];\nif (color) productDetails.push(`Color: ${color}`);\nif (fit) productDetails.push(`Fit/Silhouette: ${fit}`);\nif (description) productDetails.push(`Description: ${description}`);\n\n// Adicionar atributos específicos (caimento, comprimento, modelagem, etc.)\nfor (const [key, value] of Object.entries(attributes)) {\n  if (value) productDetails.push(`${key}: ${value}`);\n}\n\nconst productInfo = productDetails.join('\\n');\n\nconst prompts = {\n  back: `Generate the BACK VIEW of this clothing item based on the front view provided.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional e-commerce photo - BACK VIEW\n- Ghost mannequin style (as if worn by invisible person)\n- Solid light gray background (#EDEDED)\n- Show the back of the garment accurately based on the front design\n- Preserve EXACT colors, fabric texture, and proportions\n- Maintain the same fit/silhouette as the front\n- Professional studio lighting`,\n  detail: `Generate a DETAIL/CLOSE-UP photo of this product.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Focus on texture, stitching, fabric quality\n- Solid light gray background (#EDEDED)\n- Show material details, buttons, seams, prints clearly\n- Professional macro photography style`,\n  'side-left': `Generate the LEFT SIDE VIEW of this clothing item.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional e-commerce photo - LEFT SIDE VIEW\n- Ghost mannequin style\n- Solid light gray background (#EDEDED)\n- Show the profile/silhouette from the left side\n- Preserve EXACT colors and proportions`,\n  'side-right': `Generate the RIGHT SIDE VIEW of this clothing item.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional e-commerce photo - RIGHT SIDE VIEW\n- Ghost mannequin style\n- Solid light gray background (#EDEDED)\n- Show the profile/silhouette from the right side\n- Preserve EXACT colors and proportions`,\n  '45-left': `Generate a 45-DEGREE LEFT ANGLE VIEW of this clothing item.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional e-commerce photo - 45 degree angle from front-left\n- Ghost mannequin style\n- Solid light gray background (#EDEDED)\n- Show both front and side aspects\n- Preserve EXACT colors and proportions`,\n  '45-right': `Generate a 45-DEGREE RIGHT ANGLE VIEW of this clothing item.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional e-commerce photo - 45 degree angle from front-right\n- Ghost mannequin style\n- Solid light gray background (#EDEDED)\n- Show both front and side aspects\n- Preserve EXACT colors and proportions`,\n  top: `Generate a TOP VIEW of this product.\n\nPRODUCT DETAILS:\n${productInfo}\n\nREQUIREMENTS:\n- Professional flat-lay style photo from above\n- Solid light gray background (#EDEDED)\n- Show the garment laid flat or from bird's eye view\n- Preserve EXACT colors and proportions`\n};\n\nconst fullPrompt = prompts[angle] || prompts.back;\n\nreturn [{ json: { ...input, prompt: fullPrompt, skipGeneration: false } }];"
      },
      "id": "build-prompt-001",
      "name": "Construir Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, -120]
    },
    {
      "parameters": {
        "jsCode": "// GERAR ÂNGULO - Lê base64 do JSON\nconst input = $input.first().json;\nconst angle = input.currentAngle;\nconst imageBase64 = input.studioImageBase64;\n\n// Se for frontal, usar a foto de estúdio diretamente (já gerada na Etapa 1)\nif (input.skipGeneration || input.isFrontAngle) {\n  return [{\n    json: { ...input, generatedBase64: imageBase64 },\n    binary: {\n      generatedAngle: { data: imageBase64, mimeType: 'image/png', fileName: `studio_${angle}.png` }\n    }\n  }];\n}\n\nconst prompt = input.prompt;\nif (!imageBase64) throw new Error('Imagem de estúdio não encontrada no JSON');\n\nconst apiKey = 'AIzaSyAjxVPQvFgFqFxmI4_MlHB8jeTAxvuIPNM';\nconst model = 'gemini-2.0-flash-exp';\nconst endpoint = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${apiKey}`;\n\nconst payload = {\n  contents: [{ role: \"user\", parts: [\n    { inline_data: { mime_type: 'image/png', data: imageBase64 } },\n    { text: prompt }\n  ]}],\n  generationConfig: { responseModalities: [\"TEXT\", \"IMAGE\"], temperature: 0.8 },\n  safetySettings: [\n    { category: \"HARM_CATEGORY_HARASSMENT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_HATE_SPEECH\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", threshold: \"BLOCK_NONE\" },\n    { category: \"HARM_CATEGORY_DANGEROUS_CONTENT\", threshold: \"BLOCK_NONE\" }\n  ]\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST', url: endpoint,\n  headers: { 'Content-Type': 'application/json' },\n  body: payload, json: true, timeout: 180000\n});\n\nlet generatedBase64 = null;\nif (response.candidates?.[0]?.content?.parts) {\n  for (const part of response.candidates[0].content.parts) {\n    if (part.inlineData?.data) generatedBase64 = part.inlineData.data;\n  }\n}\n\nif (!generatedBase64) throw new Error('Gemini não retornou imagem para: ' + angle);\n\nreturn [{\n  json: { ...input, generatedBase64 },\n  binary: {\n    generatedAngle: { data: generatedBase64, mimeType: 'image/png', fileName: `studio_${angle}.png` }\n  }\n}];"
      },
      "id": "gen-angle-001",
      "name": "Gerar Angulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -120]
    },
    {
      "parameters": {
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst input = $input.first();\nconst angle = input.json.currentAngle;\nconst userId = $('Preparar Dados').item.json.userId;\nconst productId = $('Preparar Dados').item.json.productId;\nconst angleImageId = generateUUID();\n\nconst storagePath = `${userId}/${productId}/studio_${angle}_${angleImageId}.png`;\nconst publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/products/${storagePath}`;\n\nreturn [{\n  json: { ...input.json, angleImageId, angleStoragePath: storagePath, anglePublicUrl: publicUrl },\n  binary: input.binary\n}];"
      },
      "id": "gen-angle-path-001",
      "name": "Path Angulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, -120]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "products",
        "fileName": "={{ $json.angleStoragePath }}",
        "binaryPropertyName": "generatedAngle",
        "additionalFields": {}
      },
      "id": "upload-angle-001",
      "name": "Upload Angulo",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [3300, -120],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "product_images",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "product_id", "fieldValue": "={{ $('Preparar Dados').item.json.productId }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $('Preparar Dados').item.json.userId }}" },
            { "fieldId": "type", "fieldValue": "studio_ready" },
            { "fieldId": "angle", "fieldValue": "={{ $json.currentAngle }}" },
            { "fieldId": "storage_path", "fieldValue": "={{ $json.angleStoragePath }}" },
            { "fieldId": "url", "fieldValue": "={{ $json.anglePublicUrl }}" },
            { "fieldId": "generation_id", "fieldValue": "={{ $json.generationId }}" },
            { "fieldId": "file_name", "fieldValue": "={{ 'studio_' + $json.currentAngle + '.png' }}" },
            { "fieldId": "mime_type", "fieldValue": "image/png" },
            { "fieldId": "is_primary", "fieldValue": "false" }
          ]
        }
      },
      "id": "insert-angle-001",
      "name": "Inserir Imagem",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3520, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst generations = items.map(item => ({\n  angle: item.json.currentAngle,\n  image_url: item.json.anglePublicUrl,\n  image_id: item.json.angleImageId\n}));\n\nreturn [{\n  json: {\n    generationId: items[0].json.generationId,\n    studioImageUrl: items[0].json.studioPublicUrl,\n    generations,\n    totalAngles: items.length\n  }\n}];"
      },
      "id": "aggregate-001",
      "name": "Agregar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, -120]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "generations",
        "filters": {
          "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $json.generationId }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "studio_image_url", "fieldValue": "={{ $json.studioImageUrl }}" },
            { "fieldId": "output_urls", "fieldValue": "={{ JSON.stringify($json.generations) }}" },
            { "fieldId": "status", "fieldValue": "completed" },
            { "fieldId": "completed_at", "fieldValue": "={{ new Date().toISOString() }}" },
            { "fieldId": "processing_time_ms", "fieldValue": "={{ Date.now() - $('Preparar Dados').item.json.startTime }}" }
          ]
        }
      },
      "id": "update-gen-001",
      "name": "Atualizar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3960, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filters": {
          "conditions": [{ "keyName": "id", "condition": "eq", "keyValue": "={{ $('Preparar Dados').item.json.userId }}" }]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "credits", "fieldValue": "={{ $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsNeeded }}" },
            { "fieldId": "credits_used_this_month", "fieldValue": "={{ ($('Buscar Usuario').item.json.credits_used_this_month || 0) + $('Preparar Dados').item.json.creditsNeeded }}" }
          ]
        }
      },
      "id": "debit-001",
      "name": "Debitar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4180, -120],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  studio_image_url: $('Agregar').item.json.studioImageUrl,\n  generations: $('Agregar').item.json.generations,\n  generation_id: $('Agregar').item.json.generationId,\n  credits_used: $('Preparar Dados').item.json.creditsNeeded,\n  credits_remaining: $('Buscar Usuario').item.json.credits - $('Preparar Dados').item.json.creditsNeeded\n}) }}",
        "options": { "responseCode": 200 }
      },
      "id": "success-001",
      "name": "Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4400, -120]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Preparar Dados", "type": "main", "index": 0 }]] },
    "Preparar Dados": { "main": [[{ "node": "Buscar Usuario", "type": "main", "index": 0 }]] },
    "Buscar Usuario": { "main": [[{ "node": "Tem Creditos?", "type": "main", "index": 0 }]] },
    "Tem Creditos?": { "main": [
      [{ "node": "Buscar Imagem", "type": "main", "index": 0 }],
      [{ "node": "Erro - Sem Creditos", "type": "main", "index": 0 }]
    ]},
    "Buscar Imagem": { "main": [[{ "node": "Buscar Produto", "type": "main", "index": 0 }]] },
    "Buscar Produto": { "main": [[{ "node": "Criar Geracao", "type": "main", "index": 0 }]] },
    "Criar Geracao": { "main": [[{ "node": "Download Imagem", "type": "main", "index": 0 }]] },
    "Download Imagem": { "main": [[{ "node": "Gerar Foto Estudio", "type": "main", "index": 0 }]] },
    "Gerar Foto Estudio": { "main": [[{ "node": "Path Imagem Limpa", "type": "main", "index": 0 }]] },
    "Path Imagem Limpa": { "main": [[{ "node": "Upload Imagem Limpa", "type": "main", "index": 0 }]] },
    "Upload Imagem Limpa": { "main": [[{ "node": "Preparar Loop", "type": "main", "index": 0 }]] },
    "Preparar Loop": { "main": [[{ "node": "Construir Prompt", "type": "main", "index": 0 }]] },
    "Construir Prompt": { "main": [[{ "node": "Gerar Angulo", "type": "main", "index": 0 }]] },
    "Gerar Angulo": { "main": [[{ "node": "Path Angulo", "type": "main", "index": 0 }]] },
    "Path Angulo": { "main": [[{ "node": "Upload Angulo", "type": "main", "index": 0 }]] },
    "Upload Angulo": { "main": [[{ "node": "Inserir Imagem", "type": "main", "index": 0 }]] },
    "Inserir Imagem": { "main": [[{ "node": "Agregar", "type": "main", "index": 0 }]] },
    "Agregar": { "main": [[{ "node": "Atualizar Geracao", "type": "main", "index": 0 }]] },
    "Atualizar Geracao": { "main": [[{ "node": "Debitar", "type": "main", "index": 0 }]] },
    "Debitar": { "main": [[{ "node": "Sucesso", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "f5408b2397ec961558c2d1645ab20174aeb712fe37b2f614021d4bd5b8702549" }
}
