scripts/n8n-still-criativo.json
{
  "name": "Still Criativo - Vizzu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/still/generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook Still",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "still-criativo-generate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "gen-id",
              "name": "generationId",
              "value": "={{ $json.body.generation_id }}",
              "type": "string"
            },
            {
              "id": "user-id",
              "name": "userId",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "Extrair Dados Still",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "creative_still_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.generationId }}",
        "returnAll": false,
        "limit": 1
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000003",
      "name": "Buscar Geracao Still",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "creative_still_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Extrair Dados Still').first().json.generationId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000004",
      "name": "Marcar Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, generation_id: $('Extrair Dados Still').first().json.generationId }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000005",
      "name": "Aceitar Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Extrair Dados Still').first().json.userId }}",
        "returnAll": false,
        "limit": 1
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000006",
      "name": "Buscar Usuario Still",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "credits-check",
              "leftValue": "={{ $json.credits }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000007",
      "name": "Tem Creditos Still?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "creative_still_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Extrair Dados Still').first().json.generationId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "status",
              "fieldValue": "failed"
            },
            {
              "fieldName": "error_message",
              "fieldValue": "Créditos insuficientes"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000008",
      "name": "Falha Sem Creditos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Buscar Geracao Still').first().json.product_id }}",
        "returnAll": false,
        "limit": 1
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000009",
      "name": "Buscar Produto Still",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1820,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product_images",
        "filterType": "string",
        "filterString": "=product_id=eq.{{ $('Buscar Geracao Still').first().json.product_id }}&angle=eq.front&type=eq.original",
        "returnAll": false,
        "limit": 1
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000010",
      "name": "Buscar Imagem Produto Still",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GERAR VARIACAO 1 - Still Criativo\n// ============================================================\n\nconsole.log('=== Gerar Variacao 1 - Inicio ===');\n\n// 1. Get generation data\nconst generation = $('Buscar Geracao Still').first().json;\nconsole.log('Generation ID:', generation.id);\n\n// 2. Get settings_snapshot\nconst settings = typeof generation.settings_snapshot === 'string'\n  ? JSON.parse(generation.settings_snapshot)\n  : generation.settings_snapshot;\nconsole.log('Settings loaded');\n\n// 3. Get product info (may be empty for uploaded products)\nlet product = null;\ntry {\n  product = $('Buscar Produto Still').first().json;\n  if (!product || !product.id) product = null;\n  console.log('Product found:', product ? product.name : 'none');\n} catch (e) {\n  console.log('No product data available:', e.message);\n}\n\n// 4. Get product image URL (stored directly in generation record with correct view)\nlet mainImageUrl = settings.product_image_url || null;\nif (!mainImageUrl) {\n  // Fallback: try product_images table\n  try {\n    const imageRecord = $('Buscar Imagem Produto Still').first().json;\n    if (imageRecord && imageRecord.url) mainImageUrl = imageRecord.url;\n  } catch (e) {\n    console.log('No product image record:', e.message);\n  }\n}\nconsole.log('Main product image URL:', mainImageUrl);\n\n// 4.5 Get detail image URL\nconst detailImageUrl = settings.product_detail_image_url || null;\nconsole.log('Detail image URL:', detailImageUrl);\n\n// 5. If no main image URL found, throw error\nif (!mainImageUrl) {\n  throw new Error('Nenhuma imagem do produto encontrada. Verifique o produto e suas imagens.');\n}\n\n// 6. Download main product image\nconsole.log('Downloading main product image...');\nconst mainImageResponse = await fetch(mainImageUrl);\nif (!mainImageResponse.ok) {\n  throw new Error(`Failed to download main image: ${mainImageResponse.status} ${mainImageResponse.statusText}`);\n}\nconst mainImageBuffer = await mainImageResponse.arrayBuffer();\nconst mainImageBase64 = Buffer.from(mainImageBuffer).toString('base64');\nconst mainImageMime = mainImageResponse.headers.get('content-type') || 'image/png';\nconsole.log('Main image downloaded, size:', mainImageBase64.length, 'mime:', mainImageMime);\n\n// 6.5 Download detail image if available\nlet detailImageBase64 = null;\nlet detailImageMime = null;\nif (detailImageUrl) {\n  try {\n    console.log('Downloading detail image...');\n    const detailResponse = await fetch(detailImageUrl);\n    if (detailResponse.ok) {\n      const detailBuffer = await detailResponse.arrayBuffer();\n      detailImageBase64 = Buffer.from(detailBuffer).toString('base64');\n      detailImageMime = detailResponse.headers.get('content-type') || 'image/png';\n      console.log('Detail image downloaded, size:', detailImageBase64.length);\n    } else {\n      console.log('Failed to download detail image:', detailResponse.status);\n    }\n  } catch (e) {\n    console.log('Error downloading detail image:', e.message);\n  }\n}\n\n// 7. Download additional product images\nconst additionalProducts = generation.additional_products || [];\nconsole.log('Additional products count:', additionalProducts.length);\n\nconst additionalImages = [];\nfor (const ap of additionalProducts) {\n  if (!ap.product_image_url) {\n    console.log('Additional product has no image URL, skipping');\n    continue;\n  }\n  try {\n    let apBase64, apMime;\n    if (ap.product_image_url.startsWith('data:')) {\n      const matches = ap.product_image_url.match(/^data:([^;]+);base64,(.+)$/);\n      if (matches) {\n        apMime = matches[1];\n        apBase64 = matches[2];\n      } else {\n        console.log('Could not parse data URL for additional product');\n        continue;\n      }\n    } else {\n      const apResponse = await fetch(ap.product_image_url);\n      if (!apResponse.ok) {\n        console.log('Failed to download additional image:', apResponse.status);\n        continue;\n      }\n      const apBuffer = await apResponse.arrayBuffer();\n      apBase64 = Buffer.from(apBuffer).toString('base64');\n      apMime = apResponse.headers.get('content-type') || 'image/png';\n    }\n    additionalImages.push({\n      base64: apBase64,\n      mimeType: apMime,\n      name: ap.product_name || ap.name || 'produto adicional',\n      position: ap.position_description || ap.position || 'nearby'\n    });\n  } catch (e) {\n    console.log('Error processing additional product image:', e.message);\n  }\n}\n\n// 8. Build prompt with ALL settings mappings\nconst aestheticMap = {\n  minimal: 'Minimalist: clean lines, simple composition, generous white space, muted tones, Scandinavian',\n  luxury: 'Luxury: premium materials, elegant, rich textures, sophisticated, high-end editorial',\n  organic: 'Organic: earthy tones, botanical elements, natural textures, warm, raw materials',\n  urban: 'Urban: concrete, street culture, edgy, bold contrasts, industrial',\n  tropical: 'Tropical: vibrant colors, lush greenery, summer energy, bold, sun-kissed',\n  editorial: 'Editorial: bold artistic, dramatic composition, fashion-forward, avant-garde'\n};\n\nconst lightingMap = {\n  natural_soft: 'soft natural daylight from a large window, gentle diffused shadows',\n  golden_hour: 'golden hour warm light with amber tones and long romantic shadows',\n  leaf_shadows: 'dappled light filtered through leaves creating organic shadow patterns',\n  studio_soft: 'professional studio softbox, even controlled illumination',\n  ai_choose: 'professional lighting that best complements the aesthetic'\n};\n\nconst cameraMap = {\n  iphone: 'iPhone, natural authentic smartphone look',\n  dslr: 'professional DSLR Canon EOS R5, sharp, rich dynamic range',\n  film_35mm: '35mm film camera, subtle grain, warm analog rendering',\n  medium_format: 'Hasselblad medium format, exceptional detail, editorial quality',\n  ai_choose: 'professional camera best suited for the composition'\n};\n\nconst lensMap = {\n  canon_24mm_f14: 'Canon EF 24mm f/1.4L II wide dramatic',\n  sony_24mm_gm: 'Sony 24mm f/1.4 GM sharp wide',\n  sigma_35mm_art: 'Sigma 35mm f/1.4 Art extreme sharpness',\n  leica_35mm: 'Leica Summilux 35mm f/1.4 analog character',\n  canon_50mm_f12: 'Canon EF 50mm f/1.2L creamy bokeh',\n  zeiss_50mm: 'Zeiss Planar 50mm f/1.4 vintage smooth',\n  sony_85mm_gm: 'Sony 85mm f/1.4 GM beautiful isolation',\n  canon_85mm_f12: 'Canon EF 85mm f/1.2L dreamy bokeh',\n  canon_100mm_macro: 'Canon 100mm f/2.8L Macro extreme detail',\n  sony_90mm_macro: 'Sony 90mm f/2.8 Macro G perfect texture',\n  ai_choose: 'optimal lens for the composition'\n};\n\nconst angleMap = {\n  top_down: 'top-down flat lay 90 degrees directly above',\n  '45deg': '45-degree angled view showing depth and dimension',\n  eye_level: 'eye-level straight-on view',\n  low_angle: 'low angle looking upward, dramatic',\n  ai_choose: 'best angle for the composition'\n};\n\nconst colorToneMap = {\n  natural: 'natural true-to-life colors',\n  warm: 'warm golden inviting tones',\n  cool: 'cool blue-tinted crisp modern tones',\n  neutral: 'balanced neutral no color cast',\n  ai_choose: 'optimal color tone for the aesthetic'\n};\n\nconst colorStyleMap = {\n  vibrant: 'vibrant saturated impactful',\n  muted: 'muted desaturated soft',\n  film: 'film-like analog color grading',\n  faded: 'faded vintage reduced contrast',\n  ai_choose: 'optimal color style for the aesthetic'\n};\n\nconst presentationMap = {\n  open: 'fully open and extended, displaying the complete product',\n  folded: 'neatly and carefully folded',\n  hanging: 'hanging naturally, showing drape and movement',\n  rolled: 'stylishly rolled in an artful presentation',\n  natural: 'casually placed in a natural, effortless way',\n  standing: 'standing upright in an upright position',\n  side_view: 'shown from the side profile view',\n  pair: 'arranged as a crossed pair composition',\n  flat_lay: 'laid flat, viewed from directly above (flat lay)',\n  upright: 'positioned vertically, standing upright',\n  open_bag: 'open, showing the interior',\n  worn_style: 'positioned as if being worn',\n  display: 'on a display stand or mannequin',\n  ai_choose: 'presented in the most aesthetically pleasing way'\n};\n\nconst placementMap = {\n  center: 'centered in the composition',\n  left_third: 'on the left third (rule of thirds)',\n  right_third: 'on the right third (rule of thirds)',\n  slight_left: 'slightly offset to the left',\n  slight_right: 'slightly offset to the right',\n  ai_choose: 'positioned for optimal visual balance'\n};\n\nconst aspectRatioMap = {\n  '1:1': '1:1',\n  '4:5': '3:4',\n  '9:16': '9:16',\n  '16:9': '16:9'\n};\n\nconst dofValue = settings.depthOfField != null ? settings.depthOfField : 50;\nlet dofDescription;\nif (dofValue < 25) {\n  dofDescription = 'deep focus, everything sharp';\n} else if (dofValue < 50) {\n  dofDescription = 'moderate depth of field';\n} else if (dofValue < 75) {\n  dofDescription = 'shallow depth of field, soft background';\n} else {\n  dofDescription = 'very shallow depth, intense bokeh';\n}\n\n// Resolve settings\nconst aesthetic = aestheticMap[settings.aestheticPreset] || settings.aestheticCustom || aestheticMap.minimal;\nconst lighting = lightingMap[settings.lighting] || lightingMap.ai_choose;\nconst camera = cameraMap[settings.cameraType] || cameraMap.ai_choose;\nconst lens = lensMap[settings.lensModel] || lensMap.ai_choose;\nconst angle = angleMap[settings.cameraAngle] || angleMap.ai_choose;\nconst colorTone = colorToneMap[settings.colorTone] || colorToneMap.ai_choose;\nconst colorStyle = colorStyleMap[settings.colorStyle] || colorStyleMap.ai_choose;\nconst presentation = presentationMap[settings.productPresentation] || presentationMap.ai_choose;\nconst placement = placementMap[settings.productPlacement] || placementMap.ai_choose;\nconst aspectRatio = aspectRatioMap[settings.frameRatio] || '1:1';\nconst mainProductView = settings.mainProductView || 'front';\n\n// Reference images description\nlet imageIndex = 1;\nlet refDesc = '';\nrefDesc += `- Image ${imageIndex}: The MAIN product (${mainProductView === 'back' ? 'BACK view / costas' : 'FRONT view / frente'}) to feature prominently.\\n`;\nimageIndex++;\nif (detailImageBase64) {\n  refDesc += `- Image ${imageIndex}: DETAIL/LOGO close-up of the product. Use this to faithfully reproduce the logo, labels, and fine details.\\n`;\n  imageIndex++;\n}\nadditionalImages.forEach((img, i) => {\n  refDesc += `- Image ${imageIndex}: Additional product \"${img.name}\" to include in the scene (${img.position}).\\n`;\n  imageIndex++;\n});\nconst totalImages = imageIndex - 1;\nrefDesc = `You are provided ${totalImages} reference image(s):\\n` + refDesc;\n\n// Product info\nconst productName = product ? product.name : (settings.product_name || 'the product');\nconst productCategory = product ? (product.category || '') : (settings.product_category || '');\nconst productColor = product ? (product.color || '') : (settings.product_color || '');\n\n// Additional products section\nlet additionalSection = '';\nif (additionalImages.length > 0) {\n  additionalSection = '\\n## Additional Products\\n';\n  additionalImages.forEach((img, i) => {\n    additionalSection += `- Product: \"${img.name}\", position: ${img.position}\\n`;\n  });\n}\n\n// Surface and decorative elements\nconst surface = settings.surfaceDescription || 'appropriate surface for the aesthetic';\nconst decorativeElements = settings.elementsDescription || 'minimal complementary props';\nconst elementsPlacement = settings.elementsPlacement || 'naturally arranged around the product';\n\n// 9. Build the full prompt\nconst prompt = `CREATIVE STILL LIFE PHOTOGRAPHY BRIEF\n\n## Reference Images\n${refDesc}\n## Aesthetic & Mood\n${aesthetic}\n\n## Color Grading\n- Tone: ${colorTone}\n- Style: ${colorStyle}\n\n## Scene Setup\n- Surface: ${surface}\n- Decorative Elements: ${decorativeElements}\n- Elements Placement: ${elementsPlacement}\n\n## Main Product\n- Name: ${productName}\n- Category: ${productCategory}\n- Color: ${productColor}\n- View: ${mainProductView === 'back' ? 'Back / costas' : 'Front / frente'}\n- Presentation: ${presentation}\n- Placement: ${placement}\n${detailImageBase64 ? '- A detail/logo close-up reference is provided — faithfully reproduce all logos, labels, and fine details.' : ''}\n\n${additionalSection}\n## Lighting\n${lighting}\n\n## Camera & Lens\n- Camera: ${camera}\n- Lens: ${lens}\n- Angle: ${angle}\n- Depth of Field: ${dofDescription}\n\n## Critical Requirements\n1. Generate a PHOTOREALISTIC still life photograph - this must look like a real photo, not a render or illustration.\n2. NO watermarks, text overlays, logos, or signatures of any kind.\n3. The main product is the HERO of the composition - it must be the clear focal point.\n4. Preserve the exact appearance, colors, branding, and details of the product(s) from the reference image(s).\n5. The scene should feel natural, editorial, and commercially viable.\n6. All props and decorative elements should complement, never compete with, the product.\n7. Maintain consistent lighting across the entire scene.\n8. The final image should be ready for commercial use on social media or e-commerce.${detailImageBase64 ? '\\n9. PAY SPECIAL ATTENTION to the detail/logo image — reproduce the logo, text, and fine details with maximum fidelity.' : ''}`;\n\nconsole.log('Prompt built, length:', prompt.length);\n\n// 10. Call Gemini API\nconst parts = [\n  {\n    inlineData: {\n      mimeType: mainImageMime,\n      data: mainImageBase64\n    }\n  }\n];\n\n// Add detail image if available\nif (detailImageBase64) {\n  parts.push({\n    inlineData: {\n      mimeType: detailImageMime,\n      data: detailImageBase64\n    }\n  });\n}\n\n// Add additional product images\nfor (const img of additionalImages) {\n  parts.push({\n    inlineData: {\n      mimeType: img.mimeType,\n      data: img.base64\n    }\n  });\n}\n\n// Add text prompt\nparts.push({ text: prompt });\n\nconst geminiPayload = {\n  contents: [{\n    role: 'user',\n    parts: parts\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE'],\n    temperature: 0.3,\n    imageConfig: {\n      aspectRatio: aspectRatio,\n      imageSize: '2K'\n    }\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nconsole.log('Calling Gemini API for Variation 1...');\nconst apiUrl = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key=AIzaSyAzinjufpDDG_HJx9KsCR8p14WwA0NHMHA';\n\nconst controller = new AbortController();\nconst timeout = setTimeout(() => controller.abort(), 180000);\n\ntry {\n  const geminiResponse = await fetch(apiUrl, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(geminiPayload),\n    signal: controller.signal\n  });\n  clearTimeout(timeout);\n\n  if (!geminiResponse.ok) {\n    const errorText = await geminiResponse.text();\n    throw new Error(`Gemini API error ${geminiResponse.status}: ${errorText}`);\n  }\n\n  const geminiResult = await geminiResponse.json();\n  console.log('Gemini V1 response received');\n\n  const candidate = geminiResult.candidates && geminiResult.candidates[0];\n  if (!candidate || !candidate.content || !candidate.content.parts) {\n    throw new Error('No valid candidate in Gemini response: ' + JSON.stringify(geminiResult).substring(0, 500));\n  }\n\n  const imagePart = candidate.content.parts.find(p => p.inlineData && p.inlineData.data);\n  if (!imagePart) {\n    throw new Error('No image found in Gemini response parts: ' + JSON.stringify(candidate.content.parts.map(p => Object.keys(p))).substring(0, 500));\n  }\n\n  const imageBase64 = imagePart.inlineData.data;\n  const imageMime = imagePart.inlineData.mimeType || 'image/png';\n  console.log('V1 Image extracted, mime:', imageMime, 'base64 length:', imageBase64.length);\n\n  const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n  const userId = $('Extrair Dados Still').first().json.userId;\n  const generationId = $('Extrair Dados Still').first().json.generationId;\n  const storagePath = `${userId}/${generationId}/variation_1_${uuid}.png`;\n  console.log('V1 Storage path:', storagePath);\n\n  const publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/creative-stills/${storagePath}`;\n\n  const imageBuffer = Buffer.from(imageBase64, 'base64');\n  const binaryData = await this.helpers.prepareBinaryData(imageBuffer, `variation_1_${uuid}.png`, imageMime);\n\n  console.log('=== Gerar Variacao 1 - Concluido ===');\n\n  return [{\n    json: {\n      storagePath,\n      publicUrl,\n      variation: 1,\n      generationId\n    },\n    binary: {\n      image: binaryData\n    }\n  }];\n\n} catch (e) {\n  clearTimeout(timeout);\n  console.error('Error in Gerar Variacao 1:', e.message);\n  throw e;\n}"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000011",
      "name": "Gerar Variacao 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "creative-stills",
        "fileName": "={{ $json.storagePath }}",
        "binaryPropertyName": "image"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000012",
      "name": "Upload V1",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2600,
        0
      ],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// GERAR VARIACAO 2 - Still Criativo\n// ============================================================\n\nconsole.log('=== Gerar Variacao 2 - Inicio ===');\n\n// 1. Get generation data\nconst generation = $('Buscar Geracao Still').first().json;\nconsole.log('Generation ID:', generation.id);\n\n// 2. Get settings_snapshot\nconst settings = typeof generation.settings_snapshot === 'string'\n  ? JSON.parse(generation.settings_snapshot)\n  : generation.settings_snapshot;\nconsole.log('Settings loaded');\n\n// 3. Get product info (may be empty for uploaded products)\nlet product = null;\ntry {\n  product = $('Buscar Produto Still').first().json;\n  if (!product || !product.id) product = null;\n  console.log('Product found:', product ? product.name : 'none');\n} catch (e) {\n  console.log('No product data available:', e.message);\n}\n\n// 4. Get product image URL (stored directly in generation record with correct view)\nlet mainImageUrl = settings.product_image_url || null;\nif (!mainImageUrl) {\n  // Fallback: try product_images table\n  try {\n    const imageRecord = $('Buscar Imagem Produto Still').first().json;\n    if (imageRecord && imageRecord.url) mainImageUrl = imageRecord.url;\n  } catch (e) {\n    console.log('No product image record:', e.message);\n  }\n}\nconsole.log('Main product image URL:', mainImageUrl);\n\n// 4.5 Get detail image URL\nconst detailImageUrl = settings.product_detail_image_url || null;\nconsole.log('Detail image URL:', detailImageUrl);\n\n// 5. If no main image URL found, throw error\nif (!mainImageUrl) {\n  throw new Error('Nenhuma imagem do produto encontrada. Verifique o produto e suas imagens.');\n}\n\n// 6. Download main product image\nconsole.log('Downloading main product image...');\nconst mainImageResponse = await fetch(mainImageUrl);\nif (!mainImageResponse.ok) {\n  throw new Error(`Failed to download main image: ${mainImageResponse.status} ${mainImageResponse.statusText}`);\n}\nconst mainImageBuffer = await mainImageResponse.arrayBuffer();\nconst mainImageBase64 = Buffer.from(mainImageBuffer).toString('base64');\nconst mainImageMime = mainImageResponse.headers.get('content-type') || 'image/png';\nconsole.log('Main image downloaded, size:', mainImageBase64.length, 'mime:', mainImageMime);\n\n// 6.5 Download detail image if available\nlet detailImageBase64 = null;\nlet detailImageMime = null;\nif (detailImageUrl) {\n  try {\n    console.log('Downloading detail image...');\n    const detailResponse = await fetch(detailImageUrl);\n    if (detailResponse.ok) {\n      const detailBuffer = await detailResponse.arrayBuffer();\n      detailImageBase64 = Buffer.from(detailBuffer).toString('base64');\n      detailImageMime = detailResponse.headers.get('content-type') || 'image/png';\n      console.log('Detail image downloaded, size:', detailImageBase64.length);\n    } else {\n      console.log('Failed to download detail image:', detailResponse.status);\n    }\n  } catch (e) {\n    console.log('Error downloading detail image:', e.message);\n  }\n}\n\n// 7. Download additional product images\nconst additionalProducts = generation.additional_products || [];\nconsole.log('Additional products count:', additionalProducts.length);\n\nconst additionalImages = [];\nfor (const ap of additionalProducts) {\n  if (!ap.product_image_url) {\n    console.log('Additional product has no image URL, skipping');\n    continue;\n  }\n  try {\n    let apBase64, apMime;\n    if (ap.product_image_url.startsWith('data:')) {\n      const matches = ap.product_image_url.match(/^data:([^;]+);base64,(.+)$/);\n      if (matches) {\n        apMime = matches[1];\n        apBase64 = matches[2];\n      } else {\n        console.log('Could not parse data URL for additional product');\n        continue;\n      }\n    } else {\n      const apResponse = await fetch(ap.product_image_url);\n      if (!apResponse.ok) {\n        console.log('Failed to download additional image:', apResponse.status);\n        continue;\n      }\n      const apBuffer = await apResponse.arrayBuffer();\n      apBase64 = Buffer.from(apBuffer).toString('base64');\n      apMime = apResponse.headers.get('content-type') || 'image/png';\n    }\n    additionalImages.push({\n      base64: apBase64,\n      mimeType: apMime,\n      name: ap.product_name || ap.name || 'produto adicional',\n      position: ap.position_description || ap.position || 'nearby'\n    });\n  } catch (e) {\n    console.log('Error processing additional product image:', e.message);\n  }\n}\n\n// 8. Build prompt with ALL settings mappings\nconst aestheticMap = {\n  minimal: 'Minimalist: clean lines, simple composition, generous white space, muted tones, Scandinavian',\n  luxury: 'Luxury: premium materials, elegant, rich textures, sophisticated, high-end editorial',\n  organic: 'Organic: earthy tones, botanical elements, natural textures, warm, raw materials',\n  urban: 'Urban: concrete, street culture, edgy, bold contrasts, industrial',\n  tropical: 'Tropical: vibrant colors, lush greenery, summer energy, bold, sun-kissed',\n  editorial: 'Editorial: bold artistic, dramatic composition, fashion-forward, avant-garde'\n};\n\nconst lightingMap = {\n  natural_soft: 'soft natural daylight from a large window, gentle diffused shadows',\n  golden_hour: 'golden hour warm light with amber tones and long romantic shadows',\n  leaf_shadows: 'dappled light filtered through leaves creating organic shadow patterns',\n  studio_soft: 'professional studio softbox, even controlled illumination',\n  ai_choose: 'professional lighting that best complements the aesthetic'\n};\n\nconst cameraMap = {\n  iphone: 'iPhone, natural authentic smartphone look',\n  dslr: 'professional DSLR Canon EOS R5, sharp, rich dynamic range',\n  film_35mm: '35mm film camera, subtle grain, warm analog rendering',\n  medium_format: 'Hasselblad medium format, exceptional detail, editorial quality',\n  ai_choose: 'professional camera best suited for the composition'\n};\n\nconst lensMap = {\n  canon_24mm_f14: 'Canon EF 24mm f/1.4L II wide dramatic',\n  sony_24mm_gm: 'Sony 24mm f/1.4 GM sharp wide',\n  sigma_35mm_art: 'Sigma 35mm f/1.4 Art extreme sharpness',\n  leica_35mm: 'Leica Summilux 35mm f/1.4 analog character',\n  canon_50mm_f12: 'Canon EF 50mm f/1.2L creamy bokeh',\n  zeiss_50mm: 'Zeiss Planar 50mm f/1.4 vintage smooth',\n  sony_85mm_gm: 'Sony 85mm f/1.4 GM beautiful isolation',\n  canon_85mm_f12: 'Canon EF 85mm f/1.2L dreamy bokeh',\n  canon_100mm_macro: 'Canon 100mm f/2.8L Macro extreme detail',\n  sony_90mm_macro: 'Sony 90mm f/2.8 Macro G perfect texture',\n  ai_choose: 'optimal lens for the composition'\n};\n\nconst angleMap = {\n  top_down: 'top-down flat lay 90 degrees directly above',\n  '45deg': '45-degree angled view showing depth and dimension',\n  eye_level: 'eye-level straight-on view',\n  low_angle: 'low angle looking upward, dramatic',\n  ai_choose: 'best angle for the composition'\n};\n\nconst colorToneMap = {\n  natural: 'natural true-to-life colors',\n  warm: 'warm golden inviting tones',\n  cool: 'cool blue-tinted crisp modern tones',\n  neutral: 'balanced neutral no color cast',\n  ai_choose: 'optimal color tone for the aesthetic'\n};\n\nconst colorStyleMap = {\n  vibrant: 'vibrant saturated impactful',\n  muted: 'muted desaturated soft',\n  film: 'film-like analog color grading',\n  faded: 'faded vintage reduced contrast',\n  ai_choose: 'optimal color style for the aesthetic'\n};\n\nconst presentationMap = {\n  open: 'fully open and extended, displaying the complete product',\n  folded: 'neatly and carefully folded',\n  hanging: 'hanging naturally, showing drape and movement',\n  rolled: 'stylishly rolled in an artful presentation',\n  natural: 'casually placed in a natural, effortless way',\n  standing: 'standing upright in an upright position',\n  side_view: 'shown from the side profile view',\n  pair: 'arranged as a crossed pair composition',\n  flat_lay: 'laid flat, viewed from directly above (flat lay)',\n  upright: 'positioned vertically, standing upright',\n  open_bag: 'open, showing the interior',\n  worn_style: 'positioned as if being worn',\n  display: 'on a display stand or mannequin',\n  ai_choose: 'presented in the most aesthetically pleasing way'\n};\n\nconst placementMap = {\n  center: 'centered in the composition',\n  left_third: 'on the left third (rule of thirds)',\n  right_third: 'on the right third (rule of thirds)',\n  slight_left: 'slightly offset to the left',\n  slight_right: 'slightly offset to the right',\n  ai_choose: 'positioned for optimal visual balance'\n};\n\nconst aspectRatioMap = {\n  '1:1': '1:1',\n  '4:5': '3:4',\n  '9:16': '9:16',\n  '16:9': '16:9'\n};\n\nconst dofValue = settings.depthOfField != null ? settings.depthOfField : 50;\nlet dofDescription;\nif (dofValue < 25) {\n  dofDescription = 'deep focus, everything sharp';\n} else if (dofValue < 50) {\n  dofDescription = 'moderate depth of field';\n} else if (dofValue < 75) {\n  dofDescription = 'shallow depth of field, soft background';\n} else {\n  dofDescription = 'very shallow depth, intense bokeh';\n}\n\n// Resolve settings\nconst aesthetic = aestheticMap[settings.aestheticPreset] || settings.aestheticCustom || aestheticMap.minimal;\nconst lighting = lightingMap[settings.lighting] || lightingMap.ai_choose;\nconst camera = cameraMap[settings.cameraType] || cameraMap.ai_choose;\nconst lens = lensMap[settings.lensModel] || lensMap.ai_choose;\nconst angle = angleMap[settings.cameraAngle] || angleMap.ai_choose;\nconst colorTone = colorToneMap[settings.colorTone] || colorToneMap.ai_choose;\nconst colorStyle = colorStyleMap[settings.colorStyle] || colorStyleMap.ai_choose;\nconst presentation = presentationMap[settings.productPresentation] || presentationMap.ai_choose;\nconst placement = placementMap[settings.productPlacement] || placementMap.ai_choose;\nconst aspectRatio = aspectRatioMap[settings.frameRatio] || '1:1';\nconst mainProductView = settings.mainProductView || 'front';\n\n// Reference images description\nlet imageIndex = 1;\nlet refDesc = '';\nrefDesc += `- Image ${imageIndex}: The MAIN product (${mainProductView === 'back' ? 'BACK view / costas' : 'FRONT view / frente'}) to feature prominently.\\n`;\nimageIndex++;\nif (detailImageBase64) {\n  refDesc += `- Image ${imageIndex}: DETAIL/LOGO close-up of the product. Use this to faithfully reproduce the logo, labels, and fine details.\\n`;\n  imageIndex++;\n}\nadditionalImages.forEach((img, i) => {\n  refDesc += `- Image ${imageIndex}: Additional product \"${img.name}\" to include in the scene (${img.position}).\\n`;\n  imageIndex++;\n});\nconst totalImages = imageIndex - 1;\nrefDesc = `You are provided ${totalImages} reference image(s):\\n` + refDesc;\n\n// Product info\nconst productName = product ? product.name : (settings.product_name || 'the product');\nconst productCategory = product ? (product.category || '') : (settings.product_category || '');\nconst productColor = product ? (product.color || '') : (settings.product_color || '');\n\n// Additional products section\nlet additionalSection = '';\nif (additionalImages.length > 0) {\n  additionalSection = '\\n## Additional Products\\n';\n  additionalImages.forEach((img, i) => {\n    additionalSection += `- Product: \"${img.name}\", position: ${img.position}\\n`;\n  });\n}\n\n// Surface and decorative elements\nconst surface = settings.surfaceDescription || 'appropriate surface for the aesthetic';\nconst decorativeElements = settings.elementsDescription || 'minimal complementary props';\nconst elementsPlacement = settings.elementsPlacement || 'naturally arranged around the product';\n\n// 9. Build the full prompt\nconst prompt = `CREATIVE STILL LIFE PHOTOGRAPHY BRIEF\n\n## Reference Images\n${refDesc}\n## Aesthetic & Mood\n${aesthetic}\n\n## Color Grading\n- Tone: ${colorTone}\n- Style: ${colorStyle}\n\n## Scene Setup\n- Surface: ${surface}\n- Decorative Elements: ${decorativeElements}\n- Elements Placement: ${elementsPlacement}\n\n## Main Product\n- Name: ${productName}\n- Category: ${productCategory}\n- Color: ${productColor}\n- View: ${mainProductView === 'back' ? 'Back / costas' : 'Front / frente'}\n- Presentation: ${presentation}\n- Placement: ${placement}\n${detailImageBase64 ? '- A detail/logo close-up reference is provided — faithfully reproduce all logos, labels, and fine details.' : ''}\n\n${additionalSection}\n## Lighting\n${lighting}\n\n## Camera & Lens\n- Camera: ${camera}\n- Lens: ${lens}\n- Angle: ${angle}\n- Depth of Field: ${dofDescription}\n\n## Critical Requirements\n1. Generate a PHOTOREALISTIC still life photograph - this must look like a real photo, not a render or illustration.\n2. NO watermarks, text overlays, logos, or signatures of any kind.\n3. The main product is the HERO of the composition - it must be the clear focal point.\n4. Preserve the exact appearance, colors, branding, and details of the product(s) from the reference image(s).\n5. The scene should feel natural, editorial, and commercially viable.\n6. All props and decorative elements should complement, never compete with, the product.\n7. Maintain consistent lighting across the entire scene.\n8. The final image should be ready for commercial use on social media or e-commerce.${detailImageBase64 ? '\\n9. PAY SPECIAL ATTENTION to the detail/logo image — reproduce the logo, text, and fine details with maximum fidelity.' : ''}\n\nVARIATION DIRECTIVE:\nCreate an ALTERNATIVE composition. Same aesthetic, surface, products and lighting, but vary the product angle, element arrangement, and visual balance for a distinctly different but equally compelling image. This is a second shot from the same photoshoot.`;\n\nconsole.log('Prompt built, length:', prompt.length);\n\n// 10. Call Gemini API\nconst parts = [\n  {\n    inlineData: {\n      mimeType: mainImageMime,\n      data: mainImageBase64\n    }\n  }\n];\n\n// Add detail image if available\nif (detailImageBase64) {\n  parts.push({\n    inlineData: {\n      mimeType: detailImageMime,\n      data: detailImageBase64\n    }\n  });\n}\n\n// Add additional product images\nfor (const img of additionalImages) {\n  parts.push({\n    inlineData: {\n      mimeType: img.mimeType,\n      data: img.base64\n    }\n  });\n}\n\n// Add text prompt\nparts.push({ text: prompt });\n\nconst geminiPayload = {\n  contents: [{\n    role: 'user',\n    parts: parts\n  }],\n  generationConfig: {\n    responseModalities: ['TEXT', 'IMAGE'],\n    temperature: 0.5,\n    imageConfig: {\n      aspectRatio: aspectRatio,\n      imageSize: '2K'\n    }\n  },\n  safetySettings: [\n    { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_NONE' },\n    { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_NONE' }\n  ]\n};\n\nconsole.log('Calling Gemini API for Variation 2...');\nconst apiUrl = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key=AIzaSyAzinjufpDDG_HJx9KsCR8p14WwA0NHMHA';\n\nconst controller = new AbortController();\nconst timeout = setTimeout(() => controller.abort(), 180000);\n\ntry {\n  const geminiResponse = await fetch(apiUrl, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(geminiPayload),\n    signal: controller.signal\n  });\n  clearTimeout(timeout);\n\n  if (!geminiResponse.ok) {\n    const errorText = await geminiResponse.text();\n    throw new Error(`Gemini API error ${geminiResponse.status}: ${errorText}`);\n  }\n\n  const geminiResult = await geminiResponse.json();\n  console.log('Gemini V2 response received');\n\n  const candidate = geminiResult.candidates && geminiResult.candidates[0];\n  if (!candidate || !candidate.content || !candidate.content.parts) {\n    throw new Error('No valid candidate in Gemini response: ' + JSON.stringify(geminiResult).substring(0, 500));\n  }\n\n  const imagePart = candidate.content.parts.find(p => p.inlineData && p.inlineData.data);\n  if (!imagePart) {\n    throw new Error('No image found in Gemini response parts: ' + JSON.stringify(candidate.content.parts.map(p => Object.keys(p))).substring(0, 500));\n  }\n\n  const imageBase64 = imagePart.inlineData.data;\n  const imageMime = imagePart.inlineData.mimeType || 'image/png';\n  console.log('V2 Image extracted, mime:', imageMime, 'base64 length:', imageBase64.length);\n\n  const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n  const userId = $('Extrair Dados Still').first().json.userId;\n  const generationId = $('Extrair Dados Still').first().json.generationId;\n  const storagePath = `${userId}/${generationId}/variation_2_${uuid}.png`;\n  console.log('V2 Storage path:', storagePath);\n\n  const publicUrl = `https://dbdqiqehuapcicejnzyd.supabase.co/storage/v1/object/public/creative-stills/${storagePath}`;\n\n  const imageBuffer = Buffer.from(imageBase64, 'base64');\n  const binaryData = await this.helpers.prepareBinaryData(imageBuffer, `variation_2_${uuid}.png`, imageMime);\n\n  console.log('=== Gerar Variacao 2 - Concluido ===');\n\n  return [{\n    json: {\n      storagePath,\n      publicUrl,\n      variation: 2,\n      generationId\n    },\n    binary: {\n      image: binaryData\n    }\n  }];\n\n} catch (e) {\n  clearTimeout(timeout);\n  console.error('Error in Gerar Variacao 2:', e.message);\n  throw e;\n}"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000013",
      "name": "Gerar Variacao 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "creative-stills",
        "fileName": "={{ $json.storagePath }}",
        "binaryPropertyName": "image"
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000014",
      "name": "Upload V2",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        3120,
        0
      ],
      "credentials": {
        "s3": {
          "id": "IANNuMl4gOF84BAm",
          "name": "Vizzu S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "creative_still_generations",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Extrair Dados Still').first().json.generationId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "variation_1_url",
              "fieldValue": "={{ $('Gerar Variacao 1').first().json.publicUrl }}"
            },
            {
              "fieldName": "variation_2_url",
              "fieldValue": "={{ $('Gerar Variacao 2').first().json.publicUrl }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "completed"
            },
            {
              "fieldName": "completed_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000015",
      "name": "Finalizar Geracao",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3380,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "users",
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Extrair Dados Still').first().json.userId }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "credits",
              "fieldValue": "={{ $('Buscar Usuario Still').first().json.credits - 2 }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000016",
      "name": "Debitar Creditos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3640,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "qCwUIY0hdZVCpomG",
          "name": "Vizzu - Supabase"
        }
      }
    }
  ],
  "connections": {
    "Webhook Still": {
      "main": [
        [
          {
            "node": "Extrair Dados Still",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados Still": {
      "main": [
        [
          {
            "node": "Buscar Geracao Still",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Geracao Still": {
      "main": [
        [
          {
            "node": "Marcar Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Processing": {
      "main": [
        [
          {
            "node": "Aceitar Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aceitar Request": {
      "main": [
        [
          {
            "node": "Buscar Usuario Still",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario Still": {
      "main": [
        [
          {
            "node": "Tem Creditos Still?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Creditos Still?": {
      "main": [
        [
          {
            "node": "Buscar Produto Still",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Falha Sem Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produto Still": {
      "main": [
        [
          {
            "node": "Buscar Imagem Produto Still",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imagem Produto Still": {
      "main": [
        [
          {
            "node": "Gerar Variacao 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Variacao 1": {
      "main": [
        [
          {
            "node": "Upload V1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload V1": {
      "main": [
        [
          {
            "node": "Gerar Variacao 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Variacao 2": {
      "main": [
        [
          {
            "node": "Upload V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload V2": {
      "main": [
        [
          {
            "node": "Finalizar Geracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalizar Geracao": {
      "main": [
        [
          {
            "node": "Debitar Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "instanceId": "f5408b2397ec961558c2d1645ab20174aeb712fe37b2f614021d4bd5b8702549"
  }
}