docs/n8n-workflow-analyze-product.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vizzu/analyze-product",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6ee33e59-08a1-4c59-a843-f0899dfa7f6d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -672,
        -320
      ],
      "webhookId": "829611ed-1739-4c9d-9920-5111b3067860"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analise esta imagem de produto de moda/vestuário. Retorne APENAS um JSON válido (sem markdown, sem ```json```, apenas o JSON puro) com a seguinte estrutura:\\n\\n{\\n  \\\"products\\\": [\\n    {\\n      \\\"type\\\": \\\"tipo do produto em português (Camiseta, Calça, Vestido, Tênis, Bolsa, Boné, Óculos, Sandália, Bota, Shorts, Bermuda, Saia, Jaqueta, Blazer, Moletom, Macacão, Body, Biquíni, Maiô, Legging, Chapéu, Cinto, Relógio, Regata, Top, etc)\\\",\\n      \\\"color\\\": \\\"cor principal em português (Branco, Preto, Azul, Azul Marinho, Vermelho, Rosa, Verde, Amarelo, Laranja, Roxo, Marrom, Bege, Cinza, Dourado, Prateado, etc)\\\",\\n      \\\"pattern\\\": \\\"padrão (Liso, Listrado, Xadrez, Estampado, Floral, Animal Print, Geométrico, Tie-dye, etc)\\\",\\n      \\\"material\\\": \\\"material aparente (Algodão, Jeans, Couro, Seda, Linho, Malha, Tricô, Moletom, Veludo, Cetim, etc)\\\",\\n      \\\"gender\\\": \\\"gênero (Masculino, Feminino, Unissex, Infantil)\\\",\\n      \\\"brand\\\": \\\"marca se logo visível ou null\\\",\\n      \\\"suggestedName\\\": \\\"nome sugerido incluindo cor e características principais\\\",\\n      \\\"confidence\\\": 0.95,\\n\\n      \\\"fit\\\": \\\"caimento da peça - PARA TOPS (camisetas, blusas, regatas): Slim (justa ao corpo, mangas coladas, tecido esticado), Regular (corte reto, folga 1-2cm), Relaxed (levemente folgada, caimento natural), Oversized (grande e ampla, mangas caem além dos ombros), Boxy (corte quadrado, largura igual do ombro à barra), Cropped (curta acima da cintura). PARA CALÇAS: Skinny (muito justa da coxa ao tornozelo), Slim (ajustada com leve folga), Reta (largura uniforme), Wide Leg (pernas amplas e retas), Flare (justa na coxa, abre do joelho - formato sino), Pantalona (pernas muito largas desde quadril), Jogger (folgada, afunila no tornozelo com elástico), Cargo (bolsos laterais volumosos). PARA VESTIDOS/SAIAS: Justo (colado ao corpo, marca silhueta), Evasê (justo em cima, abre embaixo - formato A), Reto (caimento uniforme), Amplo (solto e fluido), Godê (muito rodado, formato circular). PARA SHORTS/BERMUDAS: Justo, Regular, Solto, Mom (cintura alta, folgado no quadril)\\\",\\n\\n      \\\"length\\\": \\\"comprimento - Cropped (acima do umbigo), Curto/Curta (na cintura ou meio da coxa), Regular/Médio (padrão), Longo/Longa (alongado), Mini (acima do joelho), Midi (no joelho ou abaixo), Maxi (até o chão)\\\",\\n\\n      \\\"waistHeight\\\": \\\"altura da cintura para calças/shorts/saias - Baixa (abaixo do umbigo), Média (no umbigo), Alta (acima do umbigo)\\\",\\n\\n      \\\"heelType\\\": \\\"tipo de salto para sandálias/calçados - Rasteira (sem salto), Salto Baixo (3-5cm), Salto Médio (5-8cm), Salto Alto (8cm+), Salto Bloco (grosso e estável), Salto Fino (agulha), Plataforma (sola elevada por inteiro)\\\",\\n\\n      \\\"bootShaft\\\": \\\"altura do cano para botas - Curto (tornozelo/ankle boot), Médio (panturrilha), Alto (joelho), Over the Knee (acima do joelho)\\\",\\n\\n      \\\"sneakerStyle\\\": \\\"estilo do tênis - Casual (uso diário, design clean), Corrida (sola com amortecimento, cabedal mesh), Skatista (sola plana grossa, bico reforçado), Chunky (sola volumosa, estilo anos 90), Slip-on (sem cadarços)\\\",\\n\\n      \\\"bagSize\\\": \\\"tamanho da bolsa - Mini (menos de 15cm, cabe celular), Pequena (15-20cm), Média (20-30cm, uso diário), Grande (30-40cm), Maxi (acima 40cm, tipo sacola)\\\",\\n\\n      \\\"hatStyle\\\": \\\"estilo do boné/chapéu - Dad Hat (aba curva, copa macia), Trucker (traseira em rede), Snapback (aba reta, copa alta), Bucket (formato balde), Fedora (copa com vinco, aba média)\\\",\\n\\n      \\\"glassesShape\\\": \\\"formato dos óculos - Aviador (lentes em gota, ponte dupla), Redondo (armação circular), Quadrado (linhas angulares), Gatinho (cantos superiores elevados), Oversized (lentes muito grandes)\\\"\\n    }\\n  ],\\n  \\\"multipleProducts\\\": false\\n}\\n\\nREGRAS IMPORTANTES:\\n1. Se a imagem mostrar apenas UM produto isolado (fundo branco/neutro), retorne apenas esse produto\\n2. Se mostrar pessoa com MÚLTIPLAS peças de roupa, liste CADA peça separadamente e defina multipleProducts como true\\n3. MÁXIMO 5 produtos por imagem\\n4. Foque em roupas e acessórios de moda (ignore fundo, cenário)\\n5. confidence entre 0 e 1\\n6. Use português do Brasil\\n7. brand: identifique APENAS se logo CLARAMENTE visível, senão null\\n8. Preencha TODOS os campos aplicáveis ao tipo de produto:\\n   - Roupas: fit, length, waistHeight (se aplicável)\\n   - Sandálias: heelType\\n   - Botas: bootShaft\\n   - Tênis: sneakerStyle\\n   - Bolsas: bagSize\\n   - Bonés/Chapéus: hatStyle\\n   - Óculos: glassesShape\\n9. Campos não aplicáveis = null\\n10. RETORNE APENAS O JSON, sem texto antes ou depois\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.body.imageBase64.replace('data:image/jpeg;base64,', '').replace('data:image/png;base64,', '').replace('data:image/webp;base64,', '').replace('data:image/heic;base64,', '').replace('data:image/heif;base64,', '') }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"topK\": 1,\n    \"topP\": 1,\n    \"maxOutputTokens\": 2048\n  }\n}",
        "options": {}
      },
      "id": "02e3ec23-2cf3-4ee5-a361-9928c09de929",
      "name": "Gemini Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        -320
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "nVd0pErI1bNRUrUS",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair resposta do Gemini\nconst geminiResponse = $input.first().json;\n\ntry {\n  // Pegar o texto da resposta\n  let text = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  \n  // Limpar possíveis marcações de código\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  // Parse do JSON\n  const result = JSON.parse(text);\n  \n  // Garantir que products é um array\n  const products = result.products || [];\n  \n  // Limitar a 5 produtos\n  const limitedProducts = products.slice(0, 5);\n  \n  return {\n    success: true,\n    products: limitedProducts,\n    multipleProducts: result.multipleProducts || limitedProducts.length > 1 || false\n  };\n} catch (error) {\n  console.error('Erro ao processar resposta:', error);\n  console.error('Resposta raw:', geminiResponse);\n  \n  return {\n    success: false,\n    products: [],\n    multipleProducts: false,\n    error: 'Não foi possível analisar a imagem. Tente novamente.'\n  };\n}"
      },
      "id": "be81f890-eb28-4d75-85e8-07af5484fda7",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "274e89e1-6c83-4ff8-8851-dd3a1d5c5b98",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        -320
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f5408b2397ec961558c2d1645ab20174aeb712fe37b2f614021d4bd5b8702549"
  }
}
